:root {
    --pattern-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23666' opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    --font-stack-system: system-ui, sans-serif;
    --font-stack-transitional: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --font-stack-mono: 'Nimbus Mono PS', 'Courier New', 'Cutive Mono', monospace;

    --color-black-900: #000000;
    --color-black-700: #333333;
    --color-black-500: #666666;
    --color-black-300: #CCCCCC;
    --color-black-100: #F2F2F2;

    --color-prime-900: hsl(140.00, 20.80%, 19.80%);
    --color-prime-700: hsl(140.50, 21.60%, 34.50%);
    --color-prime-500: hsl(140.00, 35%, 60%);
    --color-prime-300: hsl(140.00, 21.50%, 64.50%);
    --color-prime-100: hsl(141.80, 21.15%, 79.60%);

    --color-blues-900: hsl(200, 20%, 12%);
    --color-blues-700: hsl(208, 26%, 22%);
    --color-blues-500: hsl(208, 20%, 28%);
    --color-blues-300: hsl(208, 20%, 34%);
    --color-blues-100: hsl(208, 20%, 34%);

    --color-danger-900: hsl(6, 73%, 60%);
    --color-danger-700: hsl(6, 73%, 60%);
    --color-danger-500: hsl(6, 73%, 60%);
    --color-danger-300: hsl(6, 73%, 60%);
    --color-danger-100: hsl(6, 73%, 60%);

    --color-paper-100: hsl(60, 30%, 98%);
    --color-paper-300: hsl(60, 30%, 96%);
    --color-paper-500: hsl(60, 21%, 94%);
    --color-paper-700: hsl(60, 21%, 92%);
    --color-paper-900: hsl(60, 21%, 90%);
}

html, body, #root, .root {
    height: 100%;
}

body {
    background-color: var(--color-blues-500);
    background-image: var(--pattern-dots);
    font-family: var(--font-stack-transitional);
    font-size: 16px;
    line-height: 1.5;
    overflow-y: hidden;
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

header:before,
header:after {
    content: '';
    border-top: 1px dotted black;
}

header:before {
    margin: 0 8px 0 0;
    flex: 0 0 20px;
}

header:after {
    margin: 0 0 0 8px;
    flex: 1 0 20px;
}

input:is([type="text"], [type="number"]) {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 4px 8px;
    width: 100%;
}

input:is([type="text"], [type="number"]):focus {
    outline: none;
}

fieldset.checkbox {
    display: flex;
    align-items: center;
}

fieldset.checkbox label {
    text-transform: capitalize;
    line-height: 1;
    font-size: 13px;
}

fieldset.checkbox + fieldset {
    margin-top: 4px;
}

/* Buttons */
.button {
    align-items: center;
    background-color: white;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .15);
    display: flex;
    gap: 4px;
    min-height: 32px;
    padding: 6px 10px;
    text-transform: uppercase;
}

.button:disabled {
    border-color: #bbb;
    color: #bbb;
}

.button:not(:disabled) {
    cursor: pointer;
    border-color: black;
}

.button:not(:disabled):hover {
    background-color: black;
    color: white;
}

.button:not(:disabled):active {
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .15);
}

/* Other Styles */
.prompt {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-style: italic;
    justify-content: center;
    padding: 8px 0;
    text-align: center;
}

section + section {
    margin-top: 8px;
}

legend {
    font-weight: bold;
}

/* Scene Options */
.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.options-group {
    display: flex;
    gap: 4px;
}

.options label {
    text-transform: uppercase;
}

.options input:is([type="checkbox"], [type="radio"]) {
    display: none;
}

.options input:is([type="checkbox"], [type="radio"]) + label {
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    position: relative;
    width: 32px;
}

.options input:is([type="checkbox"], [type="radio"]):not(:disabled) + label {
    cursor: pointer;
}

.options input:is([type="checkbox"], [type="radio"]):not(:disabled):checked + label {
    background-color: var(--color-prime-500);
    border-color: var(--color-prime-500);
    color: var(--color-prime-900);
}

.options input:is([type="checkbox"], [type="radio"]):not(:disabled, :checked) + label {
    border-color: var(--color-black-300);
    color: var(--color-black-500);
}

.options input:is([type="checkbox"], [type="radio"]):not(:disabled, :checked):active + label {
    border-color: var(--color-prime-700);
}

.options input:is([type="checkbox"], [type="radio"]):disabled + label {
    border-color: var(--color-black-300);
    color: var(--color-black-500);
}

.options input:is([type="checkbox"], [type="radio"]):disabled:checked + label {
    background-color: var(--color-black-300);
    color: var(--color-black-500);
    border-color: var(--color-black-300);
}

.options input:is([type="checkbox"], [type="radio"]):disabled + [data-tooltip]:after {
    display: none;
}

/* Layout */
.layout {
    box-sizing: border-box;
    display: grid;
    height: 100%;
    padding: 16px;
    visibility: visible !important;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "scenes join"
      "canvas side";
}

.layout-scenes {
    grid-area: scenes;
}

.layout-scene,
.layout-modal,
.layout-toolbar,
.layout-tokens {
    grid-area: canvas;
}

.layout-join {
    grid-area: join;
    margin-left: 8px;
}

.layout-panel {
    grid-area: side;
}

.layout-modal,
.layout-toolbar,
.layout-tokens {
    pointer-events: none;
}

.layout-toolbar {
    display: flex;
    padding: 16px;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}

.layout-tokens {
    padding: 16px;
    justify-self: end;
}

/* Join */
.join > button {
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    color: black;
    margin-left: auto;
    width: 100%;
}

.join-modal button {
    min-width: 72px;
    justify-content: center;
}

.join-code {
    position: relative;
}

.join-input {
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.join-codes {
    display: flex;
    gap: 4px;
}

.join-codes > div {
    align-items: center;
    border-radius: 3px;
    border: 1px solid #aaa;
    cursor: text;
    display: flex;
    font-size: 1.4rem;
    height: 64px;
    justify-content: center;
    width: 48px;
}

.join-codes > div.active,
.join-input:focus + .join-codes > div.focused {
    border-color: black;
}

/* Modal */
.modal {
    background-color: rgba(0, 0, 0, 0.50);
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.modal-container {
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    box-sizing: border-box;
    width: 512px;
}

.modal-content {
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem;
}

.modal-body {
    flex: 1;
}

.modal-heading {
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.modal-paragraph {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.modal-footer {
    align-items: center;
    background-color: #eee;
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    padding: 16px;
}

/* Scenes */
.scenes {
    height: 100%;
    color: var(--color-black-300);
}

.scenes ul {
    display: flex;
    gap: 1px;
    height: 100%;
    margin: 0;
}

.scenes-scene {
    background-color: var(--color-blues-700);
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 14px;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    max-width: 200px;
    min-width: 0px;
}

.scenes-scene:hover .scenes-scene-remove {
    visibility: visible;
}

.scenes-scene[data-selected="true"] {
    background-color: var(--color-blues-900);
    color: var(--color-black-100);
}

.scenes-scene-label {
    flex: 1;
    overflow: hidden;
    padding: 4px 4px 4px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scenes-scene-remove {
    color: var(--color-black-300);
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    visibility: hidden;
}

.scenes-create {
    align-items: center;
    background-color: var(--color-blues-700);
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: center;
}

.scenes-create button {
    align-items: center;
    background: none;
    border: none;
    color: var(--color-black-100);
    display: flex;
    justify-content: center;
    outline: none;
}

.scenes-scene:hover,
.scenes-create:hover {
    background-color: var(--color-blues-900);
}

.scenes-create,
.scenes-create button {
    cursor: pointer;
}

/* Toolbar */
.toolbar {
    pointer-events: all;
}

.toolbar-tooltip {
    background-color: var(--color-blues-900);
    border-radius: 2px;
    border: 1px solid var(--color-blues-700);
    color: var(--color-black-100);
    font-size: 13px;
    margin-bottom: 4px;
    padding: 4px 8px;
    text-align: center;
}

.toolbar-groups {
    background-color: var(--color-blues-900);
    border-radius: 3px;
    border: 1px solid var(--color-blues-700);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, .15);
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2px;
}

.toolbar button {
    align-items: center;
    background-color: var(--color-blues-700);
    border-color: transparent;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    height: 38px;
    justify-content: center;
    outline: none;
    min-width: 38px;
}

.toolbar button:disabled {
    color: var(--color-black-500);
}

.toolbar button:not(:disabled) {
    cursor: pointer;
    color: var(--color-black-300);
}

.toolbar button.active,
.toolbar button[data-selected="true"] {
    background-color: var(--color-blues-500);
    color: var(--color-prime-500);
}

.toolbar button:not(:disabled, [data-active="true"], [data-selected="true"]):hover,
.toolbar button:not(:disabled, [data-active="true"], [data-selected="true"]):active {
    background-color: var(--color-blues-500);
}

.toolbar button:not(:disabled):active {
    border-color: var(--color-prime-500);
}

.toolbar button svg {
    pointer-events: none;
}

/* Token Templates */
.layout-tokens {
    width: 64px;
}

.layout-tokens > svg {
    height: 64px;
    pointer-events: all;
    position: absolute;
    width: 64px;
}

.layout-tokens > svg > circle {
    cursor: pointer;
    stroke-width: 1px;
    stroke: black;
}

/* Scene */
.scene {
    border: 1px solid var(--color-blues-900);
    background-color: var(--color-blues-900);
    border-radius: 0 4px 4px 4px;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, .15);
    box-sizing: border-box;
    height: 100%;
    pointer-events: all;
    width: 100%;
}

.scene text,
.scene-grid,
.scene-image {
    pointer-events: none;
}

.scene.theme--light {
    --scene-stroke: rgba(255, 255, 255, 1);
    --scene-text: rgba(255, 255, 255, 1);
    --scene-text-outline: rgba(0, 0, 0, 1);
}

.scene.theme--dark {
    --scene-stroke: rgba(0, 0, 0, 1);
    --scene-text: rgba(0, 0, 0, 1);
    --scene-text-outline: rgba(255, 255, 255, 1);
}

.scene-text {
    fill: var(--scene-text);
    font-size: 12px;
    paint-order: stroke;
    stroke-width: 3px;
    stroke: var(--scene-text-outline);
}

/* Scene Cursors */
.scene-cursor {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.60));
    stroke: black;
    stroke-width: 1px;
}

.scene-cursor svg use {
    transform: rotate(270deg);
    transform-origin: 50% 50%;
}

/* Scene Tokens */
.scene-token.flag--hidden circle,
.scene-token.flag--invisible circle {
    fill-opacity: 0.70;
}

.scene-token-label {
    align-items: center;
    display: flex;
    justify-content: center;
}

.scene-token-label > span {
    background-color: black;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    line-height: 1.3;
    padding: 0 4px;
}

.scene-token-shape {
    cursor: pointer;
    filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 1));
}

.scene-token-shape + text {
    text-anchor: middle;
}

.scene-token-flags {
    color: white;
    pointer-events: none;
}

.scene-token-flags circle {
    fill: black;
}

@keyframes ring-pulse {
    0%   { transform: scale(1); }
    100% { transform: scale(1.3); }
}

.scene-token-ring {
    animation: ring-pulse 0.50s alternate infinite;
    display: none;
    pointer-events: none;
    stroke-width: 1px;
    stroke: var(--scene-stroke);
}

.scene-selected .scene-token .scene-token-ring {
    display: block;
}

@keyframes aura-pulse {
    0% { fill-opacity: 0.25; }
    100% { fill-opacity: 0.10; }
}

.scene-token-aura {
    animation: aura-pulse 1.50s alternate infinite;
    fill: var(--scene-stroke);
    stroke: var(--scene-stroke);
    stroke-width: 1px;
    stroke-opacity: 0.45;
    pointer-events: none;
}

.scene-shape-rect > path {
    shape-rendering: crispEdges;
}

/* Scene Shapes */
.scene-shape {
    cursor: pointer;
}

.scene-shape:hover > circle,
.scene-shape:hover > path,
.scene-shape:hover > line,
.scene-shape:hover > polygon,
.scene-shape.selected > circle,
.scene-shape.selected > path,
.scene-shape.selected > line,
.scene-shape.selected > polygon {
    stroke-dasharray: 4px;
    animation: stroke-animation 1s linear infinite;
}

@keyframes stroke-animation {
    0% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 16px; }
}

.scene-drawable {
    cursor: crosshair;
}

.scene-drawable line,
.scene-drawable path,
.scene-drawable polygon,
.scene-drawable circle {
    fill: transparent;
    stroke: var(--scene-stroke);
    stroke-dasharray: 8px;
}

.scene-drawable-grid path,
.scene-drawable-rect path,
.scene-drawable-select path {
    shape-rendering: crispEdges;
}

.scene-drawable-select {
    cursor: auto;
}

.scene-drawable-select path {
    fill-opacity: 0.30;
    fill: var(--scene-stroke);
    stroke: none;
}

.scene-bounds rect {
    fill: transparent;
    pointer-events: none;
    shape-rendering: crispEdges;
    stroke-dasharray: 6px;
    stroke-width: 1;
    stroke: var(--scene-stroke);
}

.scene-grid pattern > path {
    fill: none;
    stroke-dasharray: 2px;
    stroke-width: 1px;
    stroke: var(--scene-stroke);
    opacity: 0.60;
}

/* Context Menu */
.context-menu-object {
    pointer-events: none;
}

.context-menu {
    background-color: var(--color-blues-700);
    border-radius: 2px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .35);
    box-sizing: border-box;
    margin: 24px auto;
    max-width: 234px;
    pointer-events: all;
    position: relative;
    border: 1px solid var(--color-blues-900);
}

.context-menu-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 3px 3px;
}

.context-menu-toolbar > button {
    align-items: center;
    aspect-ratio: 1 / 1;
    background: transparent;
    border-color: transparent;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: var(--color-black-300);
    display: flex;
    justify-content: center;
}

.context-menu-toolbar > button:hover {
    color: var(--color-black-100);
}

.context-menu-toolbar > button[data-selected="true"] {
    background-color: var(--color-blues-900);
}

.context-menu-toolbar > button:not(:disabled) {
    cursor: pointer;
}

.context-menu-form {
    font-size: 12px;
    padding: 3px;
    border-top: 1px solid var(--color-blues-900);
}

.context-menu-form-label form {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    position: relative;
}

.context-menu-form-label button,
.context-menu-form-label input[type="text"] {
    box-sizing: border-box;
    height: 32px;
}

.context-menu-form-label button {
    align-items: center;
    aspect-ratio: 1 / 1;
    border: none;
    display: flex;
    justify-content: center;
    padding: 6px;
}

.context-menu-form-label input[type="text"] {
    background-color: transparent;
    border: none;
    color: var(--color-black-100);
    font-family: var(--font-stack-transitional);
}

.context-menu-form-label input[type="text"]::placeholder {
    color: var(--color-black-300);
}

.context-menu-form-modal {
    margin: 16px;
    padding: 8px;
    pointer-events: all;
    width: 400px;
    box-sizing: border-box;
}

.context-menu-form-details {
    color: var(--color-black-100);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 8px;
}

.context-menu-form-details fieldset {
    display: grid;
    grid-template-columns: 30px 4fr 1fr;
}

.context-menu-form-details > div > span {
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    font-size: 10px;
    height: 26px;
    padding-left: 12px;
}

.context-menu-form-details > div + div {
    margin-top: 4px;
}

.context-menu-form-conditions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
}

.context-menu-form-conditions input {
    display: none;
}

.context-menu-form-conditions label {
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: var(--color-blues-500);
    border-color: var(--color-blues-700);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: var(--color-black-100);
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}

.context-menu-form-conditions input:is(:checked) + label {
    color: var(--color-danger-500);
}

.context-menu-form-conditions input:is(:checked, :indeterminate) + label {
    border-color: var(--color-blues-900);
    background-color: var(--color-blues-900);
}

.context-menu-form-color input[type="range"] {
    width: 100%;
}

.context-menu-form-colors {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.context-menu-form-colors > div {
    aspect-ratio: 1 / 1;
    border: 1px solid var(--color-black-700);
    border-radius: 2px;
}

.context-menu-form-pattern {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.context-menu-form-pattern svg {
    aspect-ratio: 1 / 1;
    background-color: var(--color-blues-900);
    border: 1px solid var(--color-black-900);
    box-sizing: border-box;
    color: var(--color-black-300);
    cursor: pointer;
}

/* Tooltips */
[data-tooltip]:not(:disabled):hover:after {
    background-color: var(--color-blues-900);
    border: 1px solid var(--color-blues-700);
    border-radius: 3px;
    color: white;
    content: attr(data-tooltip);
    font-size: 11px;
    line-height: 1;
    padding: 2px 4px;
    pointer-events: none;
    position: absolute;
    top: -20px;
}

/* Masks */
.scene-mask {
    pointer-events: none;
}

.scene-mask-background {
    fill: black;
}

.scene-mask-pattern {
    fill-opacity: 0;
}

.scene-mask.is-dimmed .scene-mask-background {
    fill-opacity: 0.75;
}

.scene.is-host .scene-mask-background {
    fill-opacity: 0.40;
}

.scene.is-host .scene-mask-pattern {
    fill-opacity: 0.30;
}

.scene-mask-polygon {
    fill: transparent;
    pointer-events: fill;
    stroke: var(--scene-stroke);
    stroke-width: 2px;
}

.scene-mask-polygon:hover {
    cursor: pointer;
    stroke: orange;
}

/* Forms */
.form-scene-profile button:nth-child(1) {
    align-items: center;
    aspect-ratio: 1;
    display: flex;
    grid-area: a;
    justify-content: center;
    padding: 0;
}

.form-scene-profile button:nth-child(1) > div {
    aspect-ratio: 1;
    background-size: cover;
    width: 100%;
}

.form-scene-profile button:nth-child(1):not(:disabled) {
    cursor: pointer;
}

.form-scene-profile button:nth-child(2) {
    grid-area: c;
}

.form-token-profile {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 54px 1fr min-content;
    grid-template-areas:
      "a b c"
      "a d d";
}

.form-shape-colors {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, 1fr);
}

.form-shape-patterns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
}

.form-shape-patterns svg {
    display: block;
}

/* Control Panel */
.panel {
    display: flex;
    height: 100%;
    margin-left: 8px;
}

.forms {
    background-color: var(--color-paper-300);
    border-radius: 0 0 4px 4px;
    border: 1px solid black;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, .15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0px;
    min-height: 100%;
    width: 380px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form:is([data-expanded="false"]):last-child .form-header {
    border-width: 0;
}

.form:is([data-expanded="true"]):last-child .form-container {
    border-width: 0;
}

.form[data-expanded="false"] {
    cursor: pointer;
}

.form[data-expanded="true"] {
    flex: 1 0 auto;
}

.form[data-expanded="true"] .form-header {
    border-bottom-color: var(--color-black-300);
}

.form-header {
    border-bottom: 1px solid var(--color-black-900);
    display: flex;
    font-size: 14px;
    gap: 4px;
    height: 32px;
}

.form-header > svg {
    margin: 6px 0 0 8px;
    pointer-events: none;
}

.form-label {
    margin: 5px 0 0 4px;
    text-transform: capitalize;
}

.form-chevron {
    color: var(--color-black-500);
    height: 18px;
    margin: 5px 8px 0px auto;
    padding: 2px;
}

.form-container {
    box-sizing: border-box;
    flex: 1;
    font-size: 12px;
    border-bottom: 1px solid var(--color-black-900);
}

.form-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.form-body {
    background-color: var(--color-paper-500);
    border-radius: 0 0 4px 4px;
    flex: 1 0 auto;
    height: 0vh;
    min-height: 100%;
    overflow-y: auto;
    padding: 8px;
}

.form-footer {
    border-top: 1px solid var(--color-black-300);
    bottom: 0;
    padding: 8px;
    position: sticky;
}

.form-body .pagination {
    margin-top: 6px;
}

/* Initiative Form */
.initiant-form {
    display: grid;
    grid-gap: 1px;
    height: 60%;
    padding: 1px;
    position: absolute;
    pointer-events: all;
    z-index: 1;
}

.initiant-form input {
    border: none;
    outline: none;
}

.initiant-form button {
    aspect-ratio: 1;
    border: none;
    cursor: pointer;
    display: block;
    width: 28.8px;
}

/* Pagination */
.pagination {
    align-items: center;
    display: flex;
    gap: 3px;
}

.pagination li {
    align-items: center;
    background-color: var(--color-black-100);
    border-color: var(--color-black-900);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .10);
    box-sizing: border-box;
    color: var(--color-black-300);
    cursor: default;
    display: flex;
    font-size: 14px;
    height: 32px;
    justify-content: center;
    pointer-events: none;
    width: 32px;
}

.pagination li[data-selectable="false"] {
    border-color: var(--color-black-300);
}

.pagination li:is([data-selectable="true"]) {
    background-color: var(--color-paper-500);
    color: var(--color-black-900);
    cursor: pointer;
    pointer-events: all;
}

.pagination li:is([data-selected="true"]) {
    background-color: var(--color-black-900);
    border-color: var(--color-black-900);
    color: var(--color-black-100);
}

/* Scene Management */
.scene-gallery {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) min-content;
}

.scene-gallery nav {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: center;
}

.scene-gallery .prompt {
    grid-column: 1 / 4;
}

.scene-gallery-item {
    aspect-ratio: 1 / 1;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.scene-gallery-item[data-type="image"] {
    align-items: start;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.scene-gallery-item[data-type="placeholder"] {
    background-color: var(--color-black-100);
    border-style: dashed;
}

.scene-gallery-item > button {
    align-items: center;
    background: white;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    height: 28px;
    justify-content: center;
    justify-self: end;
    margin: 4px;
    outline: none;
    visibility: hidden;
    width: 28px;
    border-radius: 2px;
}

.scene-gallery-item > button:hover {
    background-color: black;
    color: white;
}

.scene-gallery-item[data-type="image"]:hover {
    filter: brightness(1.2);
}

.scene-gallery-item[data-type="image"]:hover > button {
    visibility: visible;
}

.form[data-form="scenes"] .form-footer {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 8px;
}

/* Tokens Management */
.token-gallery {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr) min-content;
    justify-content: space-between;
}

.token-gallery[data-type="host"][data-scope="public"] {
    grid-template-rows: repeat(2, 1fr) min-content;
}

.token-gallery[data-type="host"][data-scope="public"] nav {
    grid-row: 3 / 3;
}

.token-gallery[data-type="host"][data-scope="private"] {
    grid-template-rows: repeat(4, 1fr) min-content;
}

.token-gallery[data-type="host"][data-scope="private"] nav {
    grid-row: 5 / 5;
}

.token-gallery[data-type="conn"][data-scope="public"] {
    grid-template-rows: repeat(5, 1fr) min-content;
}

.token-gallery[data-type="conn"] nav {
    grid-row: 7 / 7;
}

.token-gallery-item {
    align-items: center;
    aspect-ratio: 1 / 1;
    border-color: black;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
}

.token-gallery-item[data-type="default"] {
    background-color: black;
}

.token-gallery-item[data-type="default"] svg {
    color: white;
    height: 75%;
    width: 75%;
}

.token-gallery-item[data-type="image"] {
    background-color: black;
    background-size: contain;
    border-width: 0;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
    opacity: 1;
    transition: opacity 80ms ease-in-out;
}

.token-gallery-item[data-type="placeholder"] {
    background-color: var(--color-black-100);
    border-style: dashed;
}

.token-gallery-item[data-type="trash"] {
    border-style: dashed;
}

.token-gallery-item[data-type="trash"] svg {
    color: black;
}

.token-gallery-item:is([data-type="default"], [data-type="image"]) {
    cursor: grab;
}

.token-gallery nav {
    grid-column: 1 / 6;
    justify-self: center;
}

.token-gallery .prompt {
    grid-column: 1 / 6;
}

.form[data-form="tokens"] .form-footer {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 8px;
}

/* Initiative */
.initiative-list {
    display: flex;
    flex-direction: column;
}

.initiative-token {
    border-style: dotted;
    border-width: 1px 0 0 0;
    box-sizing: border-box;
    display: grid;
    grid-gap: 4px;
    grid-template-areas: "a b c";
    grid-template-columns: 48px 1fr 48px;
    padding: 8px;
    position: relative;
}

.initiative-token:first-child {
    border-top: none;
}

.initiative-token:last-child {
    border-bottom: none;
}

.initiative-token[data-current="true"] {
    background-color: #ddd;
    border-width: 1px 0;
}

.initiative-token[data-current="true"] + .initiative-token {
    border-width: 0;
}

.initiative-token + .initiative-token {
    padding-top: 8px;
}

.initiative-token-image,
.initiative-token-pattern {
    aspect-ratio: 1;
    background-color: white;
    background-size: cover;
    border-radius: 2px;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
    grid-area: a;
}

.initiative-token-pattern {
    align-items: center;
    display: flex;
    justify-content: center;
}

.initiative-token-roll {
    grid-area: a;
    pointer-events: none;
}

.initiative-token-roll-label,
.initiative-token-suffix {
    align-items: center;
    background-color: black;
    border-radius: 2px;
    border: 1px solid black;
    color: white;
    display: flex;
    grid-area: a;
    justify-content: center;
    line-height: 1;
    position: absolute;
}

.initiative-token-roll-label {
    cursor: pointer;
    font-size: 11px;
    height: 14px;
    left: -2px;
    pointer-events: all;
    top: -2px;
    width: 14px;
}

.initiative-token-suffix {
    background-color: white;
    bottom: -1px;
    color: black;
    font-size: 10px;
    height: 12px;
    right: -1px;
    width: 12px;
}

.initiative-token-info {
    grid-area: b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.initiative-token-label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.initiative-token-flags {
    line-height: 1.3;
    display: flex;
    align-items: flex-end;
    white-space: pre-wrap;
}

.initiative-token-roll {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.initiative-token-form-health-control {
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 1.2rem;
    justify-content: center;
}

.initiative-token-form-health-control:hover {
    background-color: #eee;
}

.initiative-token-form-health-control:active {
    border-color: black;
}

.initiative-token-form {
    background-color: black;
    border-radius: 3px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .15);
    display: grid;
    gap: 1px;
    padding: 1px;
    pointer-events: all;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.initiative-token-form[data-type="roll"] {
    grid-template-columns: 72px min-content;
    left: 24px;
}

.initiative-token-form[data-type="health"] {
    grid-template-columns: 64px 1fr 1fr 1fr;
    right: 64px;
}

.initiative-token-form input,
.initiative-token-form button {
    align-items: center;
    background-color: white;
    border-radius: 2px;
    border: none;
    display: flex;
    font-family: var(--font-stack-transitional);
    font-size: 14px;
    font-weight: bold;
    font-family: var(--font-stack-mono);
    justify-content: center;
    line-height: 1;
}

.initiative-token-form button {
    width: 26px;
    cursor: pointer;
}

.form[data-form="initiative"] .form-body {
    padding: 0;
}

.form[data-form="initiative"] .form-footer {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(3, 1fr);
}

/* Help */
.help p,
.help li,
.help label {
    font-size: 13px;
}

/* Session Form */
.session section + section {
    margin-top: 8px;
}

.session-code {
    font-size: 2rem;
    line-height: 1;
    user-select: text;
}

.session-players {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.session-player {
    display: flex;
    gap: 8px;
}

.session-player-color {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    box-sizing: border-box;
    width: 28px;
}

.form[data-form="session"] .form-footer {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    gap: 8px;
}

/* Global */
.root[data-view-type="view"] .scene-shape:hover > circle,
.root[data-view-type="view"] .scene-shape:hover > path,
.root[data-view-type="view"] .scene-shape:hover > line,
.root[data-view-type="view"] .scene-shape:hover > polygon,
.root[data-view-type="view"] .scene-shape.selected > circle,
.root[data-view-type="view"] .scene-shape.selected > path,
.root[data-view-type="view"] .scene-shape.selected > line,
.root[data-view-type="view"] .scene-shape.selected > polygon {
    stroke-dasharray: none;
    animation: none;
}

.root[data-view-type="view"] {
    grid-template-areas: "b";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.root[data-view-type="view"] .scene {
    pointer-events: none;
}

.root[data-show-tooltips="false"] .toolbar-tooltip {
    display: none !important;
}
