node_modules/

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.calva
.clj-kondo
.cpcache
.lsp
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

manifest.edn
cljs-runtime
ogre.tools.js
