{:paths   ["src/main" "src/test"]
 :deps    {com.cognitect/transit-clj             {:mvn/version "1.0.329"}
           com.cognitect/transit-cljs            {:mvn/version "0.8.269"}
           com.pitch/uix.core                    {:mvn/version "1.1.0"}
           com.pitch/uix.dom                     {:mvn/version "1.1.0"}
           datascript-transit/datascript-transit {:mvn/version "0.3.0" :exclusions  [com.cognitect/transit-clj com.cognitect/transit-cljs]}
           datascript/datascript                 {:mvn/version "1.5.3"}
           io.pedestal/pedestal.jetty            {:mvn/version "0.7.0"}
           io.pedestal/pedestal.service          {:mvn/version "0.7.0"}
           jstrutz/hashids                       {:mvn/version "1.0.1"}
           org.clojure/clojure                   {:mvn/version "1.11.1"}
           org.clojure/clojurescript             {:mvn/version "1.11.60"}
           org.clojure/core.async                {:mvn/version "1.5.648"}
           org.slf4j/slf4j-simple                {:mvn/version "2.0.13"}
           thheller/shadow-cljs                  {:mvn/version "2.23.3"}}
 :aliases {:server/dev {:exec-fn ogres.server.core/run-development}
           :uberjar    {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}}}}
