{:deps
 true

 :dev-http
 {8080 "docs"}

 :builds
 {:app
  {:target :browser
   :compiler-options {:infer-externs :auto :externs ["datascript/externs.js"]}
   :output-dir "docs/script"
   :asset-path "/script"
   :modules {:ogre.tools {:entries [ogre.tools.core]}}
   :devtools {:after-load ogre.tools.core/main}}}}
