:root {
  --color-session-red: #de324c;
  --color-session-orange: #f4895f;
  --color-session-yellow: #f8e16f;
  --color-session-green: #95cf92;
  --color-session-blue: #369acc;
  --color-session-purple: #9656a2;
}

@keyframes ring-rotate {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 16px;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-slate-50);
  font-size: 16px;
  line-height: 1.5;
  overflow-y: hidden;
  user-select: none;
}

body,
button,
textarea,
textarea::placeholder,
input:is([type="text"], [type="number"]),
input:is([type="text"], [type="number"])::placeholder {
  font-family: Lora, serif;
}

strong {
  font-weight: 600;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

[data-color="red"] {
  --color-session: var(--color-session-red);
}

[data-color="orange"] {
  --color-session: var(--color-session-orange);
}

[data-color="yellow"] {
  --color-session: var(--color-session-yellow);
}

[data-color="green"] {
  --color-session: var(--color-session-green);
}

[data-color="blue"] {
  --color-session: var(--color-session-blue);
}

[data-color="purple"] {
  --color-session: var(--color-session-purple);
}

.cursor-region {
  position: absolute;
  inset: 0 0 0 0;
}
