:is([type="radio"], [type="checkbox"]) {
  position: absolute;
  width: 0;
  opacity: 0;
  margin: 0;
}

:is(.checkbox, .radio) {
  --background: var(--color-slate-100);
  --foreground: var(--color-slate-900);
  --border: var(--color-slate-400);
  --background-disabled: red;
  --foreground-disabled: red;
  --border-disabled: red;
  --background-checked: var(--color-slate-800);
  --foreground-checked: var(--color-slate-100);
  --border-checked: var(--color-slate-700);
  --label-foreground: var(--color-slate-900);
}

:is(.checkbox, .radio) {
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--label-foreground);
  column-gap: 6px;
  display: flex;
  padding: 3px;
  position: relative;
  width: 100%;

  .icon {
    background-color: var(--background);
    border-color: var(--border);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: var(--foreground);
  }

  &:has(input[aria-disabled="true"]) {
    --background: var(--background-disabled);
    --foreground: var(--foreground-disabled);
    --border: var(--border-disabled);
  }

  &:has(:checked) {
    --background: var(--background-checked);
    --foreground: var(--foreground-checked);
    --border: var(--border-checked);
  }

  &:has(:focus-visible) {
    outline-color: inherit;
    outline-style: dashed;
    outline-width: 1px;
  }
}

.checkbox {
  cursor: pointer;
}

.radio:has(input:not(:checked)) {
  cursor: pointer;
}

.radio .icon {
  border-radius: 50%;
  padding: 3px;
}

.text {
  box-sizing: border-box;
  padding: 3px 6px;
  width: 100%;
}

.text-ghost {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.input-group {
  display: flex;
  flex-flow: column;
  row-gap: 3px;
}

.fieldset {
  --border: var(--color-slate-500);
  --legend-background: var(--color-slate-100);
  --legend-foreground: var(--color-slate-700);
  --legend-text-size: smaller;

  border-color: var(--border);
  border-radius: 4px;
  border-style: dotted;
  border-width: 1px;
  padding: 8px 6px 6px 6px;
  position: relative;

  &:has(:focus-visible) {
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: inherit;
  }

  legend {
    background-color: var(--legend-background);
    color: var(--legend-foreground);
    font-size: var(--legend-text-size);
    inset: -7px auto auto auto;
    line-height: 1;
    margin-left: 0.5rem;
    padding: 0 6px;
    position: absolute;
    text-transform: uppercase;
  }

  details {
    margin: 6px 3px 0 3px;
  }
}

.button {
  --text-size: x-small;
  --border-width: 1px;
  --box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
  --box-shadow-active: 1px 1px 0 0 rgba(0, 0, 0, 0.15);

  --background: var(--color-slate-200);
  --foreground: var(--color-slate-900);
  --border: transparent;

  --background-disabled: var(--color-slate-200);
  --foreground-disabled: var(--color-slate-400);
  --border-disabled: var(--color-slate-300);

  --background-neutral: var(--color-slate-200);
  --foreground-neutral: var(--color-slate-900);
  --border-neutral: var(--color-slate-500);

  --background-primary: var(--color-slate-900);
  --foreground-primary: var(--color-slate-100);
  --border-primary: transparent;

  --background-warning: var(--color-slate-100);
  --foreground-warning: var(--color-slate-900);
  --border-warning: var(--color-slate-100);

  --background-danger: var(--color-slate-800);
  --foreground-danger: var(--color-slate-100);
  --border-danger: var(--color-slate-800);

  align-items: center;
  background-color: var(--background);
  border-color: var(--border);
  border-radius: 2px;
  border-style: solid;
  border-width: var(--border-width);
  box-shadow: var(--box-shadow);
  color: var(--foreground);
  display: flex;
  font-size: var(--text-size);
  gap: 6px;
  min-height: 32px;
  padding: 6px 10px;
  text-transform: uppercase;
  transition: transform 70ms ease-in-out;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):active {
    --box-shadow: var(--box-shadow-active);
    transform: translate(1px, 1px);
  }

  &:disabled {
    --background: var(--background-disabled);
    --foreground: var(--foreground-disabled);
    --border: var(--border-disabled);
  }

  &.button-primary:not(:disabled) {
    --background: var(--background-primary);
    --foreground: var(--foreground-primary);
    --border: var(--border-primary);
  }

  &.button-neutral:not(:disabled) {
    --background: var(--background-neutral);
    --foreground: var(--foreground-neutral);
    --border: var(--border-neutral);
  }

  &.button-warning {
    &:not(:disabled) {
      --background: var(--background-warning);
      --foreground: var(--foreground-warning);
      --border: var(--border-warning);

      .icon {
        color: var(--foreground-warning);
      }
    }
  }

  &.button-danger:not(:disabled) {
    --background: var(--background-danger);
    --foreground: var(--foreground-danger);
    --border: var(--border-danger);
  }
}
