/* Larger than a phone */
/* @media (min-width: 600px) {} */

/* Tablets and larger */
/* @media (min-width: 900px) {} */

/* Laptops and larger */
/* @media (min-width: 1200px) {} */

/* Desktop monitors and larger */
/* @media (min-width: 1800px) {} */

/* Responsive :: Layout / Panel */
@media /* Portrait */ (max-aspect-ratio: 1 / 1) {
  .layout {
    &[data-user="host"] {
      grid-template-areas: "scenes" "canvas" "side";
      grid-template-columns: 1fr;
      grid-template-rows: 32px 1fr 1fr;

      &[data-expanded="false"] {
        grid-template-rows: 32px 1fr 40px;
      }

      .scenes-scene {
        max-width: 100%;
      }

      .scene {
        border-radius: 0 0 3px 3px;
      }
    }

    &[data-user="conn"] {
      grid-template-areas: "canvas" "side";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      &[data-expanded="false"] {
        grid-template-rows: 1fr 40px;
      }

      .scene {
        border-radius: 3px;
      }
    }

    .layout-scene .scene,
    .layout-panel .panel,
    .layout-panel .panel[data-expanded="false"] .panel-tabs {
      box-shadow: none;
    }

    .layout-panel {
      padding-top: 4px;
      display: flex;
      flex-direction: column;

      .panel {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        &[data-expanded="false"] .panel-tabs li label {
          border-width: 1px 0 1px 1px;
        }

        .panel-status {
          display: none;
        }

        .panel-tabs {
          border-radius: 3px 3px 0 0;
          flex-direction: row;
          min-height: 36px;

          li {
            flex: 1;
            label {
              border-radius: 3px 3px 0 0;
              border-width: 1px 0 0 1px;
              padding: 2px;
            }
          }

          .panel-tabs-control {
            flex: 3;
            svg use {
              transform-origin: 50% 50%;
              transform: rotate(90deg);
            }
          }
        }
      }

      .form {
        border-width: 0 1px;
        border-radius: 0 0 3px 3px;
        .form-footer {
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }
}

@media /* Landscape */ (min-aspect-ratio: 1 / 1) or (aspect-ratio: 1 / 1) {
  .layout {
    grid-template-columns: 1fr 420px;
    grid-template-rows: 32px 1fr;
    grid-template-areas:
      "scenes side"
      "canvas side";

    &[data-expanded="false"] {
      grid-template-columns: 1fr 40px;
    }

    &[data-user="conn"] {
      grid-template-areas: "canvas side";
      grid-template-rows: 1fr;

      &[data-expanded="false"] .panel-tabs {
        grid-area: 1 / 1 / 3 / 2;
      }
    }

    &[data-user="view"] {
      grid-template-areas: "canvas";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
  }
}

/* Responsive :: Scenes */
@media only screen and (max-width: 600px) {
  .scenes ul li {
    max-width: none;
  }
}

/* Responsive :: Toolbar */
@media only screen and (max-width: 1199px) {
  .toolbar-tooltip {
    display: none;
  }

  .toolbar-actions {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "sel rul crc rct con lne";

    &
      > button:not(
        [name="scene-select"],
        [name="scene-ruler"],
        [name="draw-circle"],
        [name="draw-rect"],
        [name="draw-cone"],
        [name="draw-line"]
      ) {
      display: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .toolbar {
    &[data-user="host"] .toolbar-actions {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "sel cut cop pst rul crc rct con ply lne grd fcs"
        "zot zrt zrt zrt zin msk mtg mrm msh mhi plw .";
    }

    &[data-user="conn"] .toolbar-actions {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "sel cut cop pst rul crc rct"
        "zot zrt zrt zin con ply lne";

      &
        > button:not(
          [name="scene-select"],
          [name="copy-cut"],
          [name="copy-copy"],
          [name="copy-paste"],
          [name="scene-ruler"],
          [name="draw-circle"],
          [name="draw-rect"],
          [name="draw-line"],
          [name="zoom-out"],
          [name="zoom-reset"],
          [name="zoom-in"],
          [name="draw-cone"],
          [name="draw-poly"]
        ) {
        display: none;
      }
    }
  }
}
