.session {
  font-size: 13px;
}

.session-room {
  align-items: stretch;
  display: flex;
  gap: 8px;

  a:is(:link, :visited) {
    color: var(--color-danger-500);
  }
}

.session-code {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0;
  text-align: center;
  user-select: text;
  width: 70%;
}

.session-url {
  background-color: var(--color-paper-500);
  border-color: var(--color-paper-900) !important;
  border-radius: 2px;
  font-family: monospace;
  font-size: 12px;
}

.session-players {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.session-player {
  display: flex;
  gap: 6px;
}

.session-player-color {
  aspect-ratio: 1;
  background-color: var(--color-session);
  border-radius: 20%;
  box-sizing: border-box;
  margin-left: 2px;
  width: 22px;
}

.session-players-player {
  display: grid;
  grid-template-areas:
    "image label"
    "image description";
  grid-template-columns: 64px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}

.session-players-player-image {
  aspect-ratio: 1;
  grid-area: image;
  position: relative;
}

.session-players-player-image-placeholder {
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px dashed var(--color-black-400);
  color: var(--color-black-400);
  display: flex;
  font-family: system-ui;
  font-size: 11px;
  inset: 6px;
  justify-content: center;
  line-height: 1;
  position: absolute;
  text-align: center;
}

.session-players-player-image-frame {
  background: linear-gradient(125deg, #fcd34d, #b45309);
  border-radius: 3px;
  inset: 0px;
  position: absolute;
}

.session-players-player-image-content {
  background-color: var(--color-paper-100);
  border-radius: 3px;
  border: 1px solid var(--color-paper-900);
  inset: 0px;
  position: absolute;
}

.session-players-player-label,
.session-players-player-description {
  align-items: stretch;
  background-color: var(--color-paper-100);
  border-radius: 3px;
  border: 1px solid var(--color-paper-900);
  display: flex;
}

.session-players-player-label {
  grid-area: label;
}

.session-players-player-description {
  grid-area: description;
}

.session-players-player input[type="text"] {
  flex: 1;
  font-family: Lora, serif;
}

[data-color="red"] {
  --color-session: var(--color-session-red);
}

[data-color="orange"] {
  --color-session: var(--color-session-orange);
}

[data-color="yellow"] {
  --color-session: var(--color-session-yellow);
}

[data-color="green"] {
  --color-session: var(--color-session-green);
}

[data-color="blue"] {
  --color-session: var(--color-session-blue);
}

[data-color="purple"] {
  --color-session: var(--color-session-purple);
}
