.props-gallery-page {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.props-gallery-image {
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: grab;
}

.props-gallery-overlay-content {
  cursor: grab;
  max-width: 380px;
  opacity: 0.8;
}
