.panel {
  border-radius: 3px 0 0 3px;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 32px 1fr;
  height: 100%;

  &[data-expanded="false"] {
    width: auto;
    box-shadow: none;

    .panel-tabs {
      border-radius: 3px;
      box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);

      label {
        border-radius: 2px;
        border-width: 1px 1px 0 1px;
      }
    }
  }
}

.panel-tabs {
  background-color: var(--color-blues-900);
  border-radius: 3px 0 0 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  grid-area: 2 / 1 / 3 / 2;

  &:has(input:focus-visible) li:has(input:focus-visible) {
    border-radius: 3px;
    outline: 2px solid var(--outline-color);
    outline-offset: -2px;
    z-index: 1;
  }

  &:has(input:focus-visible) li:has(input) {
    outline: 1px dotted var(--outline-color);
    outline-offset: -2px;
  }

  & li,
  & label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

.panel-tabs-tab {
  color: var(--color-paper-900);
  max-height: 65px;

  label {
    background-color: var(--color-blues-500);
    border-color: var(--color-blues-900);
    border-radius: 2px 0 0 2px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    &:has(:checked) {
      background-color: var(--color-paper-500);
      color: var(--color-blues-900);
    }

    &:has(input:not(:checked)) {
      cursor: pointer;

      &:hover {
        background-color: var(--color-blues-100);
      }
    }

    input[type="radio"] {
      position: absolute;
      width: 0;
      opacity: 0;
      margin: 0;
    }
  }
}

.panel-tabs-control {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-height: none;

  button {
    align-items: center;
    background: none;
    border: none;
    color: var(--color-blues-100);
    cursor: pointer;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;

    &:hover {
      color: var(--color-paper-500);
    }

    &:focus-visible {
      border-radius: 3px;
      outline-offset: -2px;
      outline: 2px solid var(--outline-color);
      z-index: 1;
    }
  }
}

.form {
  --outline-color: royalBlue;
  background-color: var(--color-paper-500);
  border-color: var(--color-blues-900);
  border-radius: 0 0 3px 3px;
  border-style: solid;
  border-width: 1px 0;
  box-sizing: border-box;
  color: var(--color-blues-900);
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-area: 2 / 2 / 3 / 3;

  .form-session,
  .form-scenes,
  .form-tokens,
  .form-help {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }
}

.form[data-form="tokens"] .form-footer {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;

  & > button:first-child {
    flex: 1;
  }
}

.form[data-form="lobby"] .form-footer {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr max-content max-content;
}

.form[data-form="initiative"] .form-body {
  padding: 0;
}

.form[data-form="initiative"] .form-footer {
  display: flex;
  gap: 4px;

  button {
    flex: 1;
  }
}

.form-container {
  flex: 1;
}

.form-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.form-body {
  background-attachment: local;
  background-image: var(--pattern-fold);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0 0 4px 4px;
  flex: 1 0 auto;
  height: 0vh;
  min-height: 100%;
  overflow-y: auto;
  padding: 8px;

  header h2 {
    color: var(--color-blues-700);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
}

.form-footer {
  background-color: var(--color-paper-500);
  border-radius: 0 0 3px 0;
  border-top: 1px solid var(--color-black-300);
  inset: auto auto 0 auto;
  padding: 6px;
  position: sticky;
}

.form-notice {
  background-color: var(--color-paper-900);
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.3;
  margin-top: auto;
  padding: 10px;
  position: relative;
}

.panel-status {
  grid-area: 1 / 2 / 1 / 3;
}

.panel-status button {
  border-radius: 3px 3px 0 0;
  border: none;
  box-shadow: none;
  color: black;
  gap: 8px;
  margin-left: auto;
  width: 100%;

  &:not(:disabled) {
    background-color: var(--color-prime-500);
    color: var(--color-black-100);
  }

  &:disabled {
    background-color: var(--color-black-100);
    border-color: var(--color-black-900);
    color: var(--color-black-500);
  }

  &:focus-visible {
    border-radius: 3px;
    outline-offset: -2px;
  }
}

.prompt {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  text-align: center;
}
