.token-gallery {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr) min-content;
  justify-content: space-between;

  &:has(.token-gallery-item:focus-visible)
    .token-gallery-item:not(:focus-visible) {
    filter: opacity(0.3);
  }

  &[data-type="host"] {
    &[data-scope="public"] {
      grid-template-rows: repeat(2, 1fr) min-content;
      nav {
        grid-row: 3 / 3;
      }
    }

    &[data-scope="private"] {
      grid-template-rows: repeat(4, 1fr) min-content;
      nav {
        grid-row: 5 / 5;
      }
    }
  }

  &[data-type="conn"] {
    &[data-scope="public"] {
      grid-template-rows: repeat(5, 1fr) min-content;
      nav {
        grid-row: 7 / 7;
      }
    }
  }

  nav {
    grid-column: 1 / 6;
    justify-self: center;
    margin-top: 6px;
  }

  .prompt {
    grid-column: 1 / 6;
  }
}

.token-gallery-item {
  align-items: center;
  aspect-ratio: 1;
  border-color: var(--color-blues-900);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  padding: 0;

  &:focus-visible {
    box-shadow: none !important;
    outline: 2px dotted var(--outline-color);
    outline-offset: 1px;
  }

  &:is([data-type="default"], [data-type="image"]) {
    cursor: grab;
  }

  &[data-type="default"] {
    background-color: var(--color-blues-700);
    border-width: 0;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.7);

    svg {
      color: white;
      height: 75%;
      width: 75%;
    }
  }

  &[data-type="image"] {
    background-color: var(--color-blues-900);
    background-size: contain;
    border-width: 0;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 80ms ease-in-out;
  }

  &[data-type="placeholder"] {
    border-style: dashed;
  }

  &[data-type="trash"] {
    border-style: dashed;
    svg {
      color: var(--color-blues-900);
    }
  }

  &[data-type="default"],
  &[data-type="image"] {
    touch-action: none;
  }
}

.scene-gallery-modal-body {
  flex: 1;
  overflow-y: auto;
}

.token-editor {
  height: 100%;
  display: flex;
  gap: 4px;
}

.token-editor-preview {
  flex: 3;
  margin: 2rem;
  position: relative;
}

.token-editor-preview-image {
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
  object-position: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.token-editor-region {
  inset: 50% auto auto 50%;
  position: absolute;
  transform: translateX(-50%);
}

.token-editor-region-drag {
  border: 1px dotted black;
  box-sizing: border-box;
  color: white;
  cursor: move;
  outline: 1px dotted white;
  padding: 1vh;
  position: absolute;
}

.token-editor-region-anchor {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  height: 14px;
  margin: 1px;
  padding: 1px;
  position: absolute;
  width: 14px;
}

.token-editor-region-anchor-nw {
  cursor: nwse-resize;
  inset: 0 auto auto 0;
}

.token-editor-region-anchor-ne {
  cursor: nesw-resize;
  inset: 0 0 auto auto;
}

.token-editor-region-anchor-se {
  cursor: nwse-resize;
  inset: auto 0 0 auto;
}

.token-editor-region-anchor-sw {
  cursor: nesw-resize;
  inset: auto auto 0 0;
}

.token-editor-browse {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
}

.token-editor-thumbnails {
  gap: 6px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, minmax(64px, 100px));
  align-content: start;
}

.token-editor-thumbnail {
  aspect-ratio: 1;
  background-color: var(--color-blues-700);
  background-size: contain;
  border-radius: 50%;
  border: 1px solid var(--color-blues-500);
  box-sizing: border-box;
  cursor: pointer;
}

@media /* Portrait */ (max-aspect-ratio: 1 / 1) {
  .token-editor {
    flex-direction: column;
  }
}
