.scene-gallery {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &:has(input:focus-visible) .scene-gallery-thumbnail {
    filter: opacity(0.4);
  }

  &:has(input:focus-visible) .scene-gallery-thumbnail:has(:checked) {
    --outline-style: dotted;
    --outline-width: 2px;
    outline-offset: 1px;
    filter: none;
  }
}

.scene-gallery-thumbnail {
  --border: var(--color-slate-900);
  --border-style: solid;

  --outline: transparent;
  --outline-width: 3px;
  --outline-style: solid;

  align-items: stretch;
  aspect-ratio: 1;
  border-color: var(--border);
  border-radius: 3px;
  border-style: var(--border-style);
  border-width: 1px;
  display: flex;
  outline-color: var(--outline);
  outline-style: var(--outline-style);
  outline-width: var(--outline-width);
  position: relative;

  &:has(:checked) {
    --outline: inherit;
  }

  &[data-type="image"] {
    background-position: 50%;
    background-size: contain;
  }

  &[data-type="image"][data-selected="false"] {
    cursor: pointer;
  }

  &[data-type="placeholder"] {
    --border-style: dashed;
  }

  label {
    flex: 1;
  }

  label:has(input:not(:checked)) {
    cursor: pointer;
  }

  .button {
    border: none;
    margin: 4px;
    min-height: 0px;
    padding: 4px;
    position: absolute;

    &:not([name="warn"]) {
      visibility: hidden;
    }

    &[name="info"] {
      inset: 0 auto auto 0;
    }

    &[name="remove"] {
      inset: 0 0 auto auto;
    }

    &[name="warn"] {
      inset: auto auto 0 0;
    }

    &[data-tooltip]::after {
      inset: 0 auto auto auto;
      transform: translateY(-50%);
    }
  }

  &:hover .button {
    visibility: visible;
  }
}

.scene-gallery-form {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 4px;
}

.scene-gallery-form .button {
  flex: 1;
}

.scene-gallery-form nav {
  flex: 1;
}

.scene-gallery-form nav .pagination {
  margin: 0;
  justify-content: center;
}

.scene-gallery-form nav .pagination li {
  height: 32px;
  box-shadow: none;
}

.scene-gallery-grid-align button {
  align-items: center;
  background-color: var(--color-slate-300);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: flex;
  float: left;
  justify-content: center;
  margin: 0 4px 2px 0;
  padding: 4px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}

.scene-gallery-grid-align ol li {
  list-style-type: decimal;
  margin-left: 1rem;
}
