.token-gallery {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr) min-content;
  justify-content: space-between;

  &:has(.token-gallery-item:focus-visible)
    .token-gallery-item:not(:focus-visible) {
    filter: opacity(0.3);
  }

  &[data-type="host"] {
    &[data-scope="public"] {
      grid-template-rows: repeat(2, 1fr) min-content;
      nav {
        grid-row: 3 / 3;
      }
    }

    &[data-scope="private"] {
      grid-template-rows: repeat(4, 1fr) min-content;
      nav {
        grid-row: 5 / 5;
      }
    }
  }

  &[data-type="conn"] {
    &[data-scope="public"] {
      grid-template-rows: repeat(5, 1fr) min-content;
      nav {
        grid-row: 7 / 7;
      }
    }
  }

  nav {
    grid-column: 1 / 6;
    justify-self: center;
    margin-top: 6px;
  }

  .prompt {
    grid-column: 1 / 6;
  }
}

.token-gallery-item {
  align-items: center;
  aspect-ratio: 1;
  border-color: var(--color-blues-900);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  padding: 0;

  &:focus-visible {
    box-shadow: none !important;
    outline: 2px dotted var(--outline-color);
    outline-offset: 1px;
  }

  &:is([data-type="default"], [data-type="image"]) {
    cursor: grab;
  }

  &[data-type="default"] {
    background-color: var(--color-blues-700);
    border-width: 0;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.7);

    svg {
      color: white;
      height: 75%;
      width: 75%;
    }
  }

  &[data-type="image"] {
    background-color: var(--color-blues-900);
    background-size: contain;
    border-width: 0;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 80ms ease-in-out;
  }

  &[data-type="placeholder"] {
    border-style: dashed;
  }

  &[data-type="trash"] {
    border-style: dashed;
    svg {
      color: var(--color-blues-900);
    }
  }

  &[data-type="default"],
  &[data-type="image"] {
    touch-action: none;
  }
}

.token-editor {
  height: 100%;
  display: flex;

  .token-editor-button {
    align-items: center;
    background-color: var(--color-blues-900);
    border-radius: 3px;
    border: 1px solid var(--color-blues-500);
    color: var(--color-black-100);
    cursor: pointer;
    display: flex;
    gap: 6px;
    justify-content: center;
    line-height: 1.5;
    padding: 4px 16px;

    &:hover {
      border-color: var(--color-prime-500);
    }

    &:active {
      border-color: var(--color-prime-700);
    }
  }
}

.token-editor-workspace,
.token-editor-placeholder {
  border-radius: 5px;
  contain: strict;
  flex: 3;
  margin: 1vw;
  position: relative;

  .token-editor-button {
    position: absolute;
    inset: auto auto 12px 50%;
    width: 320px;
    transform: translateX(-50%);
  }
}

.token-editor-placeholder {
  align-items: center;
  color: var(--color-blues-100);
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 16px;
  justify-content: center;
  text-align: center;
}

.token-editor-image {
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
  object-position: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;

  &[data-loaded="true"] {
    visibility: visible;
  }
}

.token-editor-region {
  inset: 50% auto auto 50%;
  position: absolute;
}

.token-editor-region-drag {
  border-radius: 50%;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  color: white;
  cursor: move;
  outline: 2px solid white;
  padding: 1vh;
  position: absolute;
  touch-action: none;
}

.token-editor-region-anchor {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  height: 12px;
  margin: 1px;
  padding: 1px;
  position: absolute;
  touch-action: none;
  width: 12px;
  border-radius: 50%;
}

.token-editor-region-anchor-nw {
  cursor: nwse-resize;
  inset: 0 auto auto 0;
}

.token-editor-region-anchor-ne {
  cursor: nesw-resize;
  inset: 0 0 auto auto;
}

.token-editor-region-anchor-se {
  cursor: nwse-resize;
  inset: auto 0 0 auto;
}

.token-editor-region-anchor-sw {
  cursor: nesw-resize;
  inset: auto auto 0 0;
}

.token-editor-gallery {
  align-items: center;
  background-color: var(--color-blues-700);
  contain: content;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
  padding: 1vw;
}

.token-editor-gallery-paginated {
  border-radius: 3px;
  border: 1px dotted var(--color-blues-100);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1vw;

  &:has(:focus-visible) {
    outline: 2px solid var(--outline-color);
    outline-offset: 3px;
  }

  nav {
    margin: auto;
  }
}

.token-editor-gallery-thumbnails {
  align-content: start;
  box-sizing: border-box;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(5, minmax(64px, 100px));

  &:has(input:focus-visible) label {
    filter: opacity(0.3);
  }
}

.token-editor-gallery-thumbnail {
  aspect-ratio: 1;
  background-color: var(--color-blues-700);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  outline: 1px solid var(--color-blues-900);

  &:has(input:checked) {
    outline: 2px solid var(--color-prime-500);
  }

  &:has(input:focus-visible) {
    filter: none !important;
    outline: 2px solid var(--outline-color);
  }

  input[type="radio"] {
    position: absolute;
    margin: 0;
    opacity: 0;
    width: 0;
  }
}

@media /* Portrait */ (max-aspect-ratio: 1 / 1) {
  .token-editor {
    flex-direction: column;
  }
}
