.session {
  font-size: 13px;
}

.session-room {
  align-items: stretch;
  display: flex;
  gap: 8px;

  a:is(:link, :visited) {
    color: var(--color-danger-500);
  }
}

.session-code {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0;
  text-align: center;
  user-select: text;
  width: 70%;
}

.session-url {
  background-color: var(--color-paper-500);
  border-color: var(--color-paper-900) !important;
  border-radius: 2px;
  font-family: monospace;
  font-size: 12px;
}

.session-players {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.session-players-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .player-tile {
    --player-tile-image-basis: 56px;
  }
}

.session-player-form-tokens {
  background-color: var(--color-paper-900);
  border-radius: 0 0 3px 3px;
  padding: 16px 8px 8px 8px;
  transform: translate(0, -4px);
}

.player-tokens-gallery {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &:has(input:focus-visible) label:not(:has(input:focus-visible)) {
    filter: opacity(0.3);
  }

  input {
    position: absolute;
    width: 0;
    opacity: 0;
    margin: 0;
  }

  .player-tokens-item {
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    outline: none;
  }

  .player-tokens-image {
    background-color: var(--color-blues-900);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    outline: 1px solid var(--color-blues-900);

    &:has(input:checked) {
      outline: 2px solid var(--color-prime-500);
    }

    &:has(input:focus-visible) {
      outline: 2px dotted var(--outline-color);
      outline-offset: 1px;
    }
  }

  .player-tokens-placeholder {
    border: 1px dashed var(--color-blues-900);
  }
}

.player-tokens-actions {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;

  & > button {
    flex: 1;
  }
}
