.panel {
  --box-shadow: var(--shadow-heavy);
  --border-radius: 3px 3px 3px 3px;
}

.panel {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 32px 1fr;
  height: 100%;

  &:has([data-expanded="false"]) {
    box-shadow: none;
    width: auto;
  }
}

.panel-status {
  --background: var(--color-slate-900);
  --background-disabled: var(--color-slate-300);
  --foreground: var(--color-slate-100);
  --foreground-disabled: var(--color-slate-600);
  --border: var(--color-slate-900);
  --border-disabled: var(--color-slate-400);
  --border-width: 1px 1px 0px 1px;

  grid-area: 1 / 2 / 1 / 3;
  display: flex;

  button {
    align-items: center;
    background-color: var(--background);
    border-color: var(--border);
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: var(--border-width);
    box-shadow: none;
    color: var(--foreground);
    display: flex;
    flex: 1;
    font-size: 11px;
    gap: 8px;
    margin-left: auto;
    text-align: left;
    text-transform: uppercase;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:disabled {
      --background: var(--background-disabled);
      --foreground: var(--foreground-disabled);
      --border: var(--border-disabled);
    }
  }
}

.panel-tabs {
  --outline: red;

  --background: var(--color-slate-100);
  --background-hover: var(--color-slate-100);
  --background-selected: var(--color-slate-50);

  --foreground: var(--color-slate-600);
  --foreground-hover: var(--color-slate-600);
  --foreground-selected: var(--color-slate-900);

  --border: var(--color-slate-800);
  --border-hover: var(--color-slate-800);
  --border-selected: var(--color-slate-800);

  --border-width: 1px 0px 0px 1px;
  --border-width-vertical: 1px 0px 0px 1px;
  --border-width-horizontal: 1px 0px 0px 1px;
  --border-width-vertical-collapsed: 1px 1px 0px 1px;
  --border-width-horizontal-collapsed: 1px 0px 1px 1px;

  --border-radius: 3px;

  /* Control */
  --control-background: var(--color-slate-200);
  --control-background-hover: var(--color-slate-200);
  --control-foreground: var(--color-slate-600);
  --control-foreground-hover: var(--color-slate-600);
}

.panel-tabs {
  border-radius: 3px 0 0 3px;
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 3 / 2;

  &:has(input:focus-visible) li:has(input:focus-visible) {
    border-radius: 3px;
    outline: 2px solid var(--outline);
    outline-offset: -2px;
    z-index: 1;
  }

  &:has(input:focus-visible) li:has(input) {
    outline: 1px dotted var(--outline);
    outline-offset: -2px;
  }

  & li,
  & label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.panel-tabs-tab {
  flex: 1;
  max-height: 65px;

  label {
    background-color: var(--background);
    border-color: var(--border);
    border-style: solid;
    border-width: var(--border-width);
    box-sizing: border-box;
    color: var(--foreground);
    flex: 1;
    height: 100%;
    width: 100%;

    &:has(input:checked) {
      --background: var(--background-selected);
      --foreground: var(--foreground-selected);
      --border: var(--border-selected);
    }

    &:has(input:not(:checked)) {
      cursor: pointer;
    }

    &:has(input:not(:checked)):hover {
      --background: var(--background-hover);
      --foreground: var(--foreground-hover);
      --border: var(--border-hover);
    }
  }
}

.panel-tabs-control {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  max-height: none;

  button {
    align-items: center;
    background: var(--control-background);
    border-color: var(--border);
    border-style: solid;
    border-width: var(--border-width);
    color: var(--control-foreground);
    cursor: pointer;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;

    &:hover {
      --control-background: var(--control-background-hover);
      --control-foreground: var(--control-foreground-hover);
    }

    &:focus-visible {
      border-radius: 3px;
      outline-offset: -2px;
      outline: 2px solid var(--outline);
      z-index: 1;
    }
  }
}

@media /* Landscape */ (min-aspect-ratio: 1 / 1) or (aspect-ratio: 1 / 1) {
  .panel-tabs li:first-child label {
    border-top-left-radius: var(--border-radius);
  }

  .panel-tabs li:last-child button {
    border-bottom-left-radius: var(--border-radius);
  }

  .panel-tabs[data-expanded="true"] {
    --border-width: var(--border-width-vertical);
  }

  .panel-tabs[data-expanded="false"] {
    box-shadow: var(--box-shadow);
  }

  .panel-tabs[data-expanded="false"] {
    --border-width: var(--border-width-vertical-collapsed);
  }

  .panel-tabs-control button {
    border-bottom-width: 1px;
  }
}

@media /* Portrait */ (max-aspect-ratio: 1 / 1) {
  .panel {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
  }

  .panel-status {
    display: none;
  }

  .panel-tabs {
    flex-direction: row;
    min-height: 36px;
  }

  .panel-tabs li:first-child label {
    border-top-left-radius: var(--border-radius);
  }

  .panel-tabs li:last-child button {
    border-top-right-radius: var(--border-radius);
  }

  .panel-tabs[data-expanded="true"] {
    --border-width: var(--border-width-horizontal);
  }

  .panel-tabs[data-expanded="false"] {
    --border-width: var(--border-width-horizontal-collapsed);
  }

  .panel-tabs-control {
    flex: 3;
  }

  .panel-tabs-control svg use {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
  }

  .panel-tabs-control button {
    border-right-width: 1px;
  }
}
