.player-tile {
  --player-tile-frame-width: 4px;
  --player-tile-image-basis: 64px;

  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: 14px;
  position: relative;
  z-index: 1;

  &[data-editable="true"] {
    .player-tile-image {
      cursor: pointer;

      &:is(:hover, :focus-visible) .player-tile-image-edit {
        visibility: visible;
      }

      &:is(:hover, :focus-visible) .player-tile-image-default {
        visibility: hidden;
      }
    }
  }
}

.player-tile-color {
  aspect-ratio: 1;
  background-color: var(--color-session);
  border-radius: 50%;
  inset: 8px 8px auto auto;
  pointer-events: none;
  position: absolute;
  width: 12px;
}

.player-tile-image {
  aspect-ratio: 1;
  flex-basis: var(--player-tile-image-basis, 64px);
  position: relative;
  border-radius: 3px;
  border: none;

  &:focus-visible {
    outline: 2px solid var(--outline-color);
    outline-offset: 0px;
    overflow: hidden;
  }
}

.player-tile-image-frame,
.player-tile-image-edit,
.player-tile-image-content,
.player-tile-image-default {
  background-color: var(--color-blues-700);
  border-radius: 3px;
  color: var(--color-paper-500);
  inset: var(--player-tile-frame-width, 3px);
  position: absolute;
}

.player-tile-image-frame {
  background: linear-gradient(125deg, #fcd34d, #b45309);
  border-radius: 3px 0 0 3px;
  inset: 0px;
}

.player-tile-image-edit {
  align-items: center;
  border: none;
  display: flex;
  font-size: 11px;
  justify-content: center;
  line-height: 1;
  opacity: 0.7;
  pointer-events: none;
  text-align: center;
  visibility: hidden;
}

.player-tile-image-default {
  align-items: center;
  color: var(--color-paper-900);
  display: flex;
  justify-content: center;

  svg {
    height: 100%;
    padding: 6px;
    width: 100%;
  }
}

.player-tile-image-content {
  background-size: contain;
}

.player-tile-content {
  background-color: var(--color-blues-900);
  border-radius: 0 3px 3px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-width: 0;
  padding: 4px 16px 4px 2px;
}

.player-tile-content input[type="text"] {
  background: none;
  border: 0;
  color: var(--color-paper-500);
  flex: 1;
  justify-content: center;
  padding: 0 0 0 4px;

  &::placeholder {
    color: var(--color-black-400);
    font-style: italic;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible::placeholder {
    color: var(--color-black-100);
  }
}

.player-tile-input {
  flex: 1;
  display: flex;
}

.player-tile-label,
.player-tile-description {
  overflow: hidden;
  padding-left: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:empty::after {
    color: var(--color-black-200);
    content: attr(data-placeholder);
    font-style: italic;
  }
}

.player-tile-label {
  color: var(--color-paper-500);
  line-height: 1.25;
}

.player-tile-description {
  color: var(--color-black-400);
  font-size: 0.86em;
}
