.scene-draw {
  pointer-events: none;
}

.scene-draw-surface {
  cursor: crosshair;
  pointer-events: all;
}

.scene-draw-shape {
  fill: var(--scene-stroke);
  fill-opacity: 0.1;
  stroke-dasharray: 16px 3px;
  stroke: var(--scene-stroke);
}

.scene-draw-tile-path {
  fill: var(--scene-stroke);
  fill-opacity: 0.15;
}

.scene-draw-anchor {
  fill: var(--scene-stroke);
}

.scene-draw-anchor-ring {
  fill: none;
  stroke: var(--scene-stroke);
}

.scene-draw-select .scene-draw-shape {
  fill-opacity: 0.1;
  fill: var(--scene-stroke);
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-opacity: 0.45;
  stroke-width: 1px;
  stroke: var(--scene-stroke);
}

.grid-align path,
.grid-align circle {
  pointer-events: none;
  stroke-dasharray: 1px 3px;
  stroke-opacity: 0.7;
}

.grid-align-form {
  position: relative;
  pointer-events: none;

  button {
    align-items: center;
    background-color: var(--color-blues-900);
    border-radius: 3px;
    border: 1px solid var(--color-blues-500);
    border: none;
    color: var(--color-black-400);
    cursor: pointer;
    display: flex;
    font-size: 12px;
    gap: 4px;
    justify-content: center;
    pointer-events: all;
    text-transform: uppercase;

    &:hover {
      color: white;
    }
  }
}

.grid-align-origin {
  aspect-ratio: 1;
  box-sizing: border-box;
  inset: 50% auto auto 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 128px;

  button {
    aspect-ratio: 1;
    border: 1px solid var(--color-blues-800);
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.35);
    position: absolute;

    &[data-name="up"] {
      inset: 0 auto auto 50%;
      transform: translate(-50%, 0);
    }

    &[data-name="right"] {
      inset: 50% 0 auto auto;
      transform: translate(0, -50%);
    }

    &[data-name="down"] {
      inset: auto 50% 0 auto;
      transform: translate(50%, 0);
    }

    &[data-name="left"] {
      inset: 50% auto auto 0;
      transform: translate(0, -50%);
    }

    &[data-name="clear"] {
      inset: 18% auto auto 18%;
      transform: translate(-50%, -50%);
    }
  }
}

.grid-align-size {
  align-items: stretch;
  background-color: var(--color-blues-900);
  border-radius: 2px;
  border: 1px solid var(--color-blues-800);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  cursor: default;
  display: flex;
  gap: 4px;
  height: 40px;
  inset: auto 0 0 0;
  margin: 4px;
  padding: 4px;
  pointer-events: all;
  position: absolute;

  button[type="button"] {
    aspect-ratio: 1;
  }

  button[type="submit"] {
    background-color: var(--color-blues-500);
    padding: 0 4px;
  }

  input {
    background-color: var(--color-blues-500);
    border-radius: 2px;
    pointer-events: all;
  }
}
