.context-menu-object {
  pointer-events: none;

  .context-menu {
    box-sizing: border-box;
    display: flex;
    margin: 24px 50% 24px 50%;
    min-width: 300px;
    position: fixed;
    transform: translate(-50%, 0);

    button:focus-visible {
      outline: 1px solid var(--outline-color);
      outline-offset: 1px;
      z-index: 1;
    }

    input:is([type="radio"], [type="checkbox"]) {
      position: absolute;
      margin: 0;
      opacity: 0;
      width: 0;
    }

    .context-menu-toolbar {
      background-color: var(--color-blues-900);
      border-color: var(--color-blues-800);
      border-style: solid;
      display: flex;
      padding: 3px 3px;
      box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.35);

      button {
        aspect-ratio: 1;
        align-items: center;
        background: transparent;
        border-color: transparent;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        color: var(--color-black-400);
        display: flex;
        justify-content: center;

        &:hover {
          color: var(--color-black-100);
        }

        &[data-selected="true"] {
          color: var(--color-danger-500);
        }

        &:not(:disabled) {
          cursor: pointer;
        }
      }
    }

    .context-menu-main {
      flex: 1;
      pointer-events: all;

      &:has(:focus-visible) {
        border-radius: 3px;
        outline-offset: 0px;
        outline: 3px solid var(--outline-color);
        z-index: 1;
      }

      &[data-expanded="true"] {
        .context-menu-toolbar {
          border-bottom-color: var(--color-blues-900);
          border-radius: 3px 0 0 0;
        }
      }

      .context-menu-toolbar {
        border-radius: 3px 0 0 3px;
        border-width: 1px 0 1px 1px;
      }

      .context-menu-form {
        background-color: var(--color-blues-700);
        border-radius: 0 0 3px 3px;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.35);
        color: var(--color-black-100);
        font-size: 12px;
        padding: 6px;
      }
    }

    .context-menu-aside {
      .context-menu-toolbar {
        background-color: var(--color-blues-700);
        border-radius: 0 3px 3px 0;
        border-width: 1px 1px 1px 0;
        pointer-events: all;
      }
    }
  }

  .context-menu-form-label {
    form {
      align-items: stretch;
      display: flex;
      gap: 4px;
      justify-content: space-between;
      position: relative;
    }

    input[type="text"] {
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      color: var(--color-black-100);
      line-height: 1.5rem;

      &::placeholder {
        color: var(--color-black-300);
      }
    }

    button {
      align-items: center;
      background-color: var(--color-blues-900);
      border-radius: 3px;
      border: none;
      color: var(--color-black-500);
      cursor: pointer;
      display: flex;

      &:is(:hover, :focus-visible) {
        color: var(--color-black-100);
      }
    }
  }

  .context-menu-form-details {
    display: grid;
    grid-template-columns: 1fr 26px 3fr 26px;
    grid-template-rows: repeat(3, 28px);
    padding: 6px 6px 6px 8px;
    row-gap: 4px;

    :is(label, data) {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 100%;
    }

    :is(label, data, button) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    label {
      justify-content: flex-end;
      margin-right: 8px;
    }

    data {
      background-color: var(--color-blues-500);
    }

    button {
      aspect-ratio: 1;
      background-color: var(--color-blues-900);
      border-radius: 3px;
      border: none;
      color: var(--color-black-500);
      cursor: pointer;
      font-size: 18px;
      height: 100%;

      &:is(:focus-visible, :hover) {
        color: var(--color-black-100);
      }
    }
  }

  .context-menu-form-conditions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;

    label {
      align-items: center;
      aspect-ratio: 1;
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--color-black-400);
      cursor: pointer;
      display: flex;
      justify-content: center;
      position: relative;

      &:has(input:not(:checked, :indeterminate)):hover,
      &:has(:checked, :indeterminate) {
        background-color: var(--color-blues-800);
        color: var(--color-black-100);
      }

      &:has(:checked) {
        background-color: var(--color-blues-900);
      }

      &:has(:focus-visible) {
        outline: 1px dotted var(--outline-color);
        outline-offset: 1px;
      }
    }
  }
}

.context-menu-form-styles {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(5, 1fr);

  &:has(input[type="radio"]:focus-visible) label {
    opacity: 0.4;
  }

  label {
    aspect-ratio: 1;
    background-color: var(--color-context, var(--color-blues-900));
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;

    &:has(input[type="radio"]:focus-visible) {
      outline: 1px solid var(--outline-color);
      opacity: 1;
    }

    &:has(:active) {
      opacity: 0.8;
    }
  }

  svg {
    aspect-ratio: 1;
    height: 100%;
    width: 100%;
  }

  pattern {
    stroke: rgba(200, 200, 200);
  }

  pattern[id="template-pattern-solid"] {
    fill: rgba(200, 200, 200);
  }
}
