.scene-objects-portal {
  pointer-events: none;
}

.scene-objects-bounds {
  fill: transparent;
  pointer-events: none;
  shape-rendering: crispEdges;
  stroke-dasharray: 3px 1px;
  stroke-opacity: 0.6;
  stroke-width: 1px;
  stroke: var(--scene-stroke);
}

.scene-objects-selected {
  --token-base-stroke: var(--color-session, var(--scene-stroke));
  --token-base-stroke-width: 1px;

  .scene-shape .scene-shape-bounds {
    display: inherit;
  }

  .scene-object {
    transition: none;
  }
}

.scene-object {
  outline: none;
  transition: transform 80ms linear;

  &:focus-visible {
    border-radius: 3px;
    outline: 2px solid var(--outline-color);
  }

  &:is([data-drag-local="true"], [data-drag-remote="true"]) {
    --token-base-stroke: var(--color-session, var(--scene-stroke));
    --token-base-stroke-width: 2px;
  }

  &[data-drag-local="true"] {
    transition: none;
  }

  &[data-drag-remote="true"] {
    transition: transform 80ms linear;
  }
}

.scene-object-align {
  fill-opacity: 0.2;
  fill: var(--scene-stroke);
  pointer-events: none;
}

.scene-object-transition {
  &.enter {
    opacity: 0;
    transform: translate(0, -12px);
  }

  &.enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 256ms ease-in-out, opacity 256ms ease-in-out;
  }

  &.exit {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.exit-active {
    opacity: 0;
    transform: translate(0, -12px);
    transition: transform 256ms ease-in-out, opacity 256ms ease-in-out;
  }
}

.scene-shape:hover {
  cursor: pointer;
}

.scene-shape-path {
  stroke-width: 1px;
}

.scene-shape-bounds {
  animation: ring-rotate 640ms linear infinite;
  display: none;
  fill: transparent;
  pointer-events: none;
  shape-rendering: crispEdges;
  stroke-dasharray: 6px 2px;
  stroke-opacity: 0.8;
  stroke-width: 1px;
  stroke: var(--scene-stroke);
}

.scene-token {
  & > g {
    transition: transform 60ms ease-out;
  }

  &[data-flags*="hidden"] {
    opacity: 0.5;
  }

  &[data-flags*="player"] .scene-token-shape {
    stroke: url("#token-base-player");
    stroke-width: 4px;
  }

  &[data-flags*="dead"] .scene-token-shape {
    filter: url(#token-status-dead);
  }

  &[data-flags*="turn"] [data-flag="initiative"] circle {
    fill: var(--color-danger-500);
  }
}

.scene-token-label {
  fill: var(--color-black-100);
  font-size: 13px;
  paint-order: stroke;
  pointer-events: none;
  stroke-width: 3px;
  stroke: var(--color-blues-900);
  text-anchor: middle;
  text-rendering: optimizeLegibility;

  span {
    background-color: var(--color-blues-900);
    border-radius: 1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    color: var(--color-black-100);
    font-size: 12px;
    line-height: 1.2;
    padding: 0 4px;
  }
}

.scene-token-shape {
  cursor: pointer;
  filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.9));

  & + text {
    text-anchor: middle;
  }
}

.scene-token-flags {
  color: white;
  pointer-events: none;

  circle {
    fill: var(--color-blues-900);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.8));
  }
}

.scene-token-base {
  animation: ring-rotate 640ms linear infinite;
  fill: none;
  pointer-events: none;
  stroke-dasharray: 6px 2px;
  stroke-dashoffset: 0px;
  stroke-width: var(--token-base-stroke-width);
  stroke: var(--token-base-stroke);
}

.scene-token-ring {
  fill: none;
  pointer-events: none;
  stroke-width: var(--token-outline-width, 0);
  stroke: var(--color-prime-500);
}

.scene-token-aura {
  fill: none;
  pointer-events: none;
  stroke-dasharray: 1px 3px;
  stroke-opacity: 1;
  stroke-width: 1px;
  stroke: var(--scene-stroke);
  transition: r 60ms ease-out;
}

.scene-object-note {
  pointer-events: none;
}

.scene-note-control,
.scene-note-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene-note {
  border-radius: 1px;
  color: var(--color-black-300);
  contain: content;
  inset: auto 0;
  margin: 8px;
  outline-offset: 6px;
  position: fixed;
}

.scene-note-header {
  display: flex;
  width: fit-content;
}

.scene-note-anchor {
  background-color: var(--color-blues-900);
  border-radius: 3px;
  cursor: pointer;
  padding: 8px;
  pointer-events: all;
}

.scene-note-nav {
  display: flex;
  flex: 1;
  margin-right: -3px;
  overflow: hidden;
  transform: translate(-3px, 0);
}

.scene-note-navinner {
  align-items: center;
  background-color: var(--color-blues-900);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  display: flex;
  flex: 1;
  gap: 16px;
  padding: 0 12px 0 8px;
  pointer-events: all;
  transform: translate(-100%, 0);
  transition: transform 100ms linear;

  .scene-note-control {
    display: none;
  }
}

.scene-note-label {
  margin-right: auto;
  font-size: 14px;
  line-height: 1;
}

.scene-note-body {
  background-color: var(--color-blues-700);
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: center;
  pointer-events: all;
}

.scene-note-icons {
  background-color: var(--color-blues-800);
  border-bottom-left-radius: 3px;
  flex-direction: column;
  gap: 12px;
  padding: 8px;

  &:has(:focus-visible) {
    outline: 2px solid var(--outline-color);
    outline-offset: -2px;
  }

  label {
    align-items: center;
    color: var(--color-blues-100);
    display: flex;
    justify-content: center;

    &:has(:checked) {
      color: var(--color-black-300);
    }

    &:not(&:has(:checked)) {
      cursor: pointer;
    }
  }

  input[type="radio"] {
    position: absolute;
    width: 0;
    opacity: 0;
    margin: 0;
  }
}

.scene-note-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 14px;
  padding: 12px 10px;

  fieldset {
    border-color: var(--color-blues-100);

    &:has(:focus-visible) legend {
      color: var(--color-black-300);
    }

    &:has(textarea) {
      flex: 1;
      display: flex;
      align-items: stretch;
    }
  }

  legend {
    background-color: var(--color-blues-700);
    color: var(--color-blues-100);
  }

  input[type="text"],
  textarea {
    background-color: transparent;
    border: none;
    color: var(--color-black-100);
    font-size: 13px;
    outline: none;
    resize: none;
    width: 100%;
  }
}

.scene-objects-selected {
  .scene-note-header {
    width: auto;
  }

  .scene-note-anchor {
    border-bottom-left-radius: 0;
  }

  .scene-note-navinner {
    border-bottom-right-radius: 0;

    .scene-note-control {
      display: inherit;
    }
  }
}

.scene-object-transition
  [data-type="note"][data-drag-local="true"]
  .scene-note-navinner,
.scene-objects-selected .scene-note-navinner,
.scene-note-anchor:hover + .scene-note-nav > .scene-note-navinner {
  transform: translate(0);
}
