.toolbar {
  --outline: royalBlue;

  /* Tooltip */
  --tooltip-background: var(--color-slate-200);
  --tooltip-border-width: 1px;
  --tooltip-border: var(--color-slate-200);
  --tooltip-foreground: var(--color-slate-900);
  --tooltip-shortcut-background: var(--color-slate-400);
  --tooltip-shortcut-foreground: var(--color-slate-50);
  --tooltip-text-size: small;

  /* Toolbar */
  --toolbar-background: var(--color-slate-50);
  --toolbar-border-width: 1px;
  --toolbar-border: var(--color-slate-900);
  --toolbar-box-shadow: var(--shadow-heavy);

  /* Actions */
  --background: var(--color-slate-100);
  --background-active: var(--color-slate-200);
  --background-disabled: var(--color-slate-50);
  --background-hover: var(--color-slate-200);
  --background-selected: var(--color-slate-300);

  --border: var(--color-slate-200);
  --border-active: var(--color-slate-400);
  --border-disabled: transparent;
  --border-hover: transparent;
  --border-selected: var(--color-slate-700);
  --border-width: 1px;

  --foreground: var(--color-slate-700);
  --foreground-active: var(--color-slate-700);
  --foreground-disabled: var(--color-slate-300);
  --foreground-hover: var(--color-slate-700);
  --foreground-selected: var(--color-slate-700);
}

.toolbar {
  pointer-events: all;
  position: relative;

  &:has(:focus-visible) {
    border-radius: 2px;
    outline-offset: 0px;
    outline: 2px solid var(--outline);
  }
}

.toolbar-tooltip {
  background-color: var(--tooltip-background);
  border-color: var(--tooltip-border);
  border-radius: 2px;
  border-style: solid;
  border-width: var(--tooltip-border-width);
  bottom: calc(100% + 4px);
  color: var(--tooltip-foreground);
  display: flex;
  font-size: var(--tooltip-text-size);
  gap: 8px;
  max-width: max-content;
  min-width: calc(100% - 18px);
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
}

.toolbar-shortcut {
  align-items: center;
  color: var(--tooltip-shortcut-foreground);
  display: flex;
  gap: 2px;

  code {
    background-color: var(--tooltip-shortcut-background);
    border-radius: 2px;
    min-width: 20px;
    padding: 0 4px;
    text-align: center;
    text-transform: capitalize;
  }
}

.toolbar-actions {
  background-color: var(--toolbar-background);
  border-color: var(--toolbar-border);
  border-radius: 3px;
  border-style: solid;
  border-width: var(--toolbar-border-width);
  box-shadow: var(--toolbar-box-shadow);
  display: grid;
  gap: 2px;
  padding: 2px;

  button {
    align-items: center;
    background-color: var(--background);
    border-color: var(--border);
    border-radius: 2px;
    border-style: solid;
    border-width: var(--border-width);
    box-sizing: border-box;
    color: var(--foreground);
    display: flex;
    flex: 1;
    height: 38px;
    justify-content: center;
    min-width: 38px;

    &[aria-pressed="true"] {
      --background: var(--background-selected);
      --foreground: var(--foreground-selected);
      --border: var(--border-selected);
    }

    &[aria-disabled="true"] {
      --background: var(--background-disabled);
      --foreground: var(--foreground-disabled);
      --border: var(--border-disabled);
    }

    &:not([aria-disabled="true"]) {
      cursor: pointer;
    }

    &:not([aria-disabled="true"], [aria-pressed="true"]):hover {
      --background: var(--background-hover);
      --foreground: var(--foreground-hover);
      --border: var(--border-hover);
    }

    &:not([aria-disabled="true"], [aria-pressed="true"]):active {
      --background: var(--background-active);
      --foreground: var(--foreground-active);
      --border: var(--border-active);
    }

    &:focus-visible {
      outline-offset: -1px;
      outline: 1px dotted var(--outline);
      z-index: 1;
    }
  }

  .icon {
    pointer-events: none;
  }
}

.toolbar {
  [name="copy-copy"] {
    grid-area: cop;
  }

  [name="copy-cut"] {
    grid-area: cut;
  }

  [name="copy-paste"] {
    grid-area: pst;
  }

  [name="draw-circle"] {
    grid-area: crc;
  }

  [name="draw-cone"] {
    grid-area: con;
  }

  [name="draw-line"] {
    grid-area: lne;
  }

  [name="draw-poly"] {
    grid-area: ply;
  }

  [name="draw-rect"] {
    grid-area: rct;
  }

  [name="mask-create"] {
    grid-area: msk;
  }

  [name="mask-hide"] {
    grid-area: mhi;
  }

  [name="mask-remove"] {
    grid-area: mrm;
  }

  [name="mask-show"] {
    grid-area: msh;
  }

  [name="mask-toggle"] {
    grid-area: mtg;
  }

  [name="scene-focus"] {
    grid-area: fcs;
  }

  [name="scene-grid"] {
    grid-area: grd;
  }

  [name="scene-ruler"] {
    grid-area: rul;
  }

  [name="scene-select"] {
    grid-area: sel;
  }

  [name="zoom-in"] {
    grid-area: zin;
  }

  [name="zoom-out"] {
    grid-area: zot;
  }

  [name="zoom-reset"] {
    grid-area: zrt;
  }

  [name="note"] {
    grid-area: not;
  }
}

@media only screen and (max-width: 1199px) {
  .toolbar-tooltip {
    display: none;
  }

  .toolbar-actions {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "sel rul crc rct con lne";

    &
      > button:not(
        [name="scene-select"],
        [name="scene-ruler"],
        [name="draw-circle"],
        [name="draw-rect"],
        [name="draw-cone"],
        [name="draw-line"]
      ) {
      display: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .toolbar {
    &[data-user="host"] .toolbar-actions {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "sel cut cop pst rul not fcs crc rct con ply lne"
        "zot zrt zrt zrt zin msk mtg mrm msh mhi grd .";
    }

    &[data-user="conn"] .toolbar-actions {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "sel cut cop pst rul crc rct"
        "zot zrt zrt zin con ply lne";

      &
        > button:not(
          [name="scene-select"],
          [name="copy-cut"],
          [name="copy-copy"],
          [name="copy-paste"],
          [name="scene-ruler"],
          [name="draw-circle"],
          [name="draw-rect"],
          [name="draw-line"],
          [name="zoom-out"],
          [name="zoom-reset"],
          [name="zoom-in"],
          [name="draw-cone"],
          [name="draw-poly"]
        ) {
        display: none;
      }
    }
  }
}
