[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
User=root
Group=root
ExecStartPre=nginx -t
ExecStart=nginx -c ogres.app.service
ExecReload=nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
ExecStartPost=/bin/sleep 0.1

[Install]
WantedBy=multi-user.target
