[Unit]
Description=ogre.server Java web service
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/java -cp /root/OgreServer.jar clojure.main -m ogre.server.core 8080
ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
