[Unit]
Description=manages multiplayer sessions for the ogres.app web application
After=syslog.target network.target

[Service]
Type=simple
Restart=always
SuccessExitStatus=143
EnvironmentFile=/srv/ogres.server/env.conf
ExecStop=/bin/kill -15 $MAINPID
ExecStart=/usr/bin/java \
    -javaagent:/srv/ogres.server/grafana-opentelemetry-java.jar \
    -Dotel.resource.attributes=service.name=ogres-server,service.namespace=ogres-server-group,deployment.environment=production,process.command_args=none \
    -Dotel.exporter.otlp.endpoint=https://otlp-gateway-prod-us-west-0.grafana.net/otlp \
    -Dotel.exporter.otlp.protocol=http/protobuf \
    -jar /srv/ogres.server/ogres-server.jar 8080

[Install]
WantedBy=multi-user.target
