:root {
  --pattern-grid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.12'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --pattern-fold: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTSAwIDAgTCAxNiA0IEwgMzIgMCBaIiBmaWxsPSIjZTNlM2Q0IiAvPjwvc3ZnPg==");

  --color-black-900: #000000;
  --color-black-700: #333333;
  --color-black-500: #666666;
  --color-black-400: #aaaaaa;
  --color-black-300: #cccccc;
  --color-black-100: #f2f2f2;

  --color-prime-900: hsl(140, 20.8%, 19.8%);
  --color-prime-700: hsl(140.5, 21.6%, 34.5%);
  --color-prime-500: hsl(140, 35%, 60%);
  --color-prime-300: hsl(140, 21.5%, 64.5%);
  --color-prime-100: hsl(141.8, 21.15%, 79.6%);

  --color-blues-900: hsl(200, 20%, 12%);
  --color-blues-800: hsl(200, 20%, 16%);
  --color-blues-700: hsl(208, 26%, 22%);
  --color-blues-500: hsl(208, 20%, 28%);
  --color-blues-300: hsl(208, 20%, 34%);
  --color-blues-100: hsl(208, 20%, 38%);

  --color-danger-900: hsl(6, 73%, 60%);
  --color-danger-700: hsl(6, 73%, 60%);
  --color-danger-500: hsl(6, 73%, 60%);
  --color-danger-300: hsl(6, 73%, 60%);
  --color-danger-100: hsl(6, 73%, 60%);

  --color-paper-100: hsl(60, 30%, 98%);
  --color-paper-300: hsl(60, 30%, 96%);
  --color-paper-500: hsl(60, 21%, 94%);
  --color-paper-700: hsl(60, 21%, 92%);
  --color-paper-900: hsl(60, 21%, 86%);

  --color-session-red: #de324c;
  --color-session-orange: #f4895f;
  --color-session-yellow: #f8e16f;
  --color-session-green: #95cf92;
  --color-session-blue: #369acc;
  --color-session-purple: #9656a2;

  --transition-drag: transform 80ms linear;
  --outline-color: var(--color-prime-500);
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--pattern-grid), var(--color-blues-500);
  font-size: 16px;
  line-height: 1.5;
  overflow-y: hidden;
  user-select: none;
}

body,
button,
input:is([type="text"], [type="number"]),
input:is([type="text"], [type="number"])::placeholder {
  font-family: "Lora", serif;
}

strong {
  font-weight: 600;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* Form */
:is(.checkbox, .radio) {
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--color-black-500);
  column-gap: 6px;
  display: flex;
  padding: 3px;
  position: relative;
  width: 100%;

  &:has(input:not([aria-disabled="true"])) {
    cursor: pointer;

    &:hover {
      background-color: var(--color-paper-900);
    }
  }

  &:has(:checked) {
    color: var(--color-blues-900);

    .icon {
      background-color: var(--color-prime-500);
      border-color: var(--color-prime-500);
      color: var(--color-paper-500);
    }
  }

  &:has(:focus-visible) {
    outline: 1px dashed var(--outline-color);
  }

  &:has([aria-disabled="true"]) {
    color: var(--color-black-300);

    .icon {
      background-color: var(--color-black-300);
      border-color: var(--color-black-300);
    }
  }

  input {
    position: absolute;
    z-index: -1;
  }

  .icon {
    background-color: var(--color-paper-500);
    border-radius: 3px;
    border: 1px solid var(--color-black-400);
  }
}

.radio {
  .icon {
    border-radius: 50%;
    padding: 3px;
  }

  &:has(:checked) {
    background-color: var(--color-paper-900);
  }

  &:has(input:not(:checked)) {
    cursor: pointer;
  }
}

.text {
  box-sizing: border-box;
  padding: 3px 6px;
  width: 100%;
}

.text-ghost {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.input-group {
  display: flex;
  flex-flow: column;
  row-gap: 3px;
}

.fieldset {
  border-radius: 4px;
  border: 1px dotted var(--color-black-700);
  font-size: 13px !important;
  padding: 8px 6px 6px 6px;
  position: relative;

  &:has(:focus-visible) {
    outline: 2px solid var(--outline-color);
    outline-offset: 2px;
  }

  legend {
    background-color: var(--color-paper-500);
    font-size: 11px;
    inset: -7px auto auto auto;
    line-height: 1;
    margin-left: 0.5rem;
    padding: 0 6px;
    position: absolute;
    text-transform: uppercase;
  }

  details {
    margin: 6px 3px 0 3px;
  }
}

/* Animations */
@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 16px;
  }
}

@keyframes ring-rotate {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 16px;
  }
}

/* Buttons */
.button {
  align-items: center;
  background-color: var(--color-paper-500);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
  color: var(--color-blues-900);
  display: flex;
  font-size: 11px;
  gap: 6px;
  min-height: 32px;
  padding: 6px 10px;
  text-transform: uppercase;
  transition: transform 70ms ease-in-out;

  &:disabled {
    border-color: var(--color-black-300);
    color: var(--color-black-300);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
  }

  &.button-primary:not(:disabled) {
    background-color: var(--color-prime-500);
    color: var(--color-black-100);
  }

  &.button-neutral:not(:disabled) {
    border-color: var(--color-black-500);
  }

  &.button-warning {
    &:not(:disabled) {
      background-color: var(--color-blues-900);
      color: var(--color-black-100);
    }

    &:not(:disabled) .icon {
      color: yellow;
    }
  }

  &.button-danger:not(:disabled) {
    background-color: var(--color-danger-500);
    color: var(--color-black-100);
  }
}

/* Other Styles */
.prompt {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  text-align: center;
}

/* Layout */
.layout {
  box-sizing: border-box;
  column-gap: 8px;
  display: grid;
  height: 100%;
  padding: 1vw;
  visibility: visible !important;
  grid-template-columns: 1fr 420px;
  grid-template-rows: 32px 1fr;
  grid-template-areas:
    "scenes side"
    "canvas side";

  &[data-expanded="false"] {
    grid-template-columns: 1fr 40px;
  }

  .layout-scenes,
  .layout-scene,
  .layout-toolbar,
  .layout-panel {
    contain: size layout style;
  }

  .layout-scenes {
    grid-area: scenes;
    z-index: 1;
  }

  .layout-scene,
  .layout-toolbar {
    grid-area: canvas;
  }

  .layout-panel {
    grid-area: side;
  }

  .layout-toolbar {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    padding: 16px;
    pointer-events: none;
    z-index: 1;
  }
}

/* Error Layout */
.layout-error {
  display: flex;
  justify-content: center;
  margin: 3vw;
}

.layout-error-content {
  background-color: var(--color-blues-900);
  border-radius: 4px;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  color: var(--color-black-100);
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  gap: 2vw;
  padding: 4vw;
}

/* Session Colors */
[data-color="red"] {
  --color-session: var(--color-session-red);
}
[data-color="orange"] {
  --color-session: var(--color-session-orange);
}
[data-color="yellow"] {
  --color-session: var(--color-session-yellow);
}
[data-color="green"] {
  --color-session: var(--color-session-green);
}
[data-color="blue"] {
  --color-session: var(--color-session-blue);
}
[data-color="purple"] {
  --color-session: var(--color-session-purple);
}

/* Join */
.join {
  button {
    border-radius: 3px 3px 0 0;
    border: none;
    box-shadow: none;
    color: black;
    gap: 8px;
    margin-left: auto;
    width: 100%;

    &:not(:disabled) {
      background-color: var(--color-prime-500);
      color: var(--color-black-100);
    }

    &:disabled {
      background-color: var(--color-black-100);
      border-color: var(--color-black-900);
      color: var(--color-black-500);
    }

    &:focus-visible {
      border-radius: 3px;
      outline-offset: -2px;
    }
  }
}

/* Scenes */
.scenes {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  font-size: 13px;
  gap: 2px;
  height: 100%;

  &:has(input:focus-visible) .scenes-scene {
    border-radius: 3px;
    outline-offset: -1px;
    outline: 1px dotted var(--outline-color);
  }

  .scenes-scene {
    align-items: stretch;
    display: flex;
    flex: 1;
    max-width: 240px;
    min-width: 0;

    &:has(input:focus-visible) {
      outline: 2px solid var(--outline-color);
      outline-offset: -2px;
    }

    label {
      align-items: center;
      background-color: var(--color-blues-700);
      border-radius: 3px 3px 0 0;
      color: var(--color-black-400);
      display: flex;
      flex: 1;
      justify-content: space-between;
      width: 100%;

      &:hover {
        background-color: var(--color-blues-800);
      }

      &:has(:checked) {
        background-color: var(--color-blues-900);

        .scenes-label {
          color: var(--color-black-100);
        }
      }

      &:not(:has(:checked)) {
        cursor: pointer;
      }

      input {
        position: absolute;
        margin: 0;
        opacity: 0;
        width: 0;
      }

      .scenes-label {
        overflow: hidden;
        padding: 2px 10px 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .scenes-remove {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 0 4px;

        &:hover {
          color: var(--color-black-100);
        }
      }
    }
  }

  .scenes-create {
    align-items: stretch;
    display: flex;

    button {
      align-items: center;
      background-color: var(--color-blues-700);
      border-radius: 3px 3px 0 0;
      border: none;
      color: var(--color-black-400);
      cursor: pointer;
      display: flex;

      &:hover,
      &:focus-visible {
        background-color: var(--color-blues-800);
        color: var(--color-black-100);
      }

      &:focus-visible {
        border-radius: 3px;
        outline: 2px solid var(--outline-color);
        outline-offset: -2px;
      }
    }
  }
}

/* Toolbar */
.toolbar {
  pointer-events: all;
  position: relative;

  &:has(:focus-visible) {
    border-radius: 2px;
    outline-offset: 0px;
    outline: 2px solid var(--outline-color);
  }

  code {
    background-color: var(--color-blues-700);
    min-width: 20px;
    padding: 0 4px;
    text-align: center;
    border-radius: 2px;
  }

  .toolbar-tooltip {
    background-color: var(--color-blues-900);
    border-radius: 2px;
    border: 1px solid var(--color-blues-700);
    bottom: calc(100% + 4px);
    color: var(--color-black-100);
    display: flex;
    font-size: 13px;
    gap: 8px;
    max-width: max-content;
    min-width: calc(100% - 18px);
    padding: 4px 8px;
    position: absolute;
    white-space: nowrap;
  }

  .toolbar-shortcut {
    align-items: center;
    display: flex;
    gap: 2px;
    text-transform: capitalize;
  }

  .toolbar-actions {
    background-color: var(--color-blues-900);
    border-radius: 3px;
    border: 1px solid var(--color-blues-700);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
    display: grid;
    gap: 2px;
    padding: 2px;

    button {
      align-items: center;
      background-color: var(--color-blues-700);
      border-color: transparent;
      border-radius: 2px;
      border-style: solid;
      border-width: 1px;
      box-sizing: border-box;
      color: var(--color-black-300);
      display: flex;
      flex: 1;
      height: 38px;
      justify-content: center;
      min-width: 38px;

      &[aria-pressed="true"] {
        background-color: var(--color-blues-500);
        color: var(--color-danger-500);
      }

      &[aria-disabled="true"] {
        color: var(--color-black-500);
      }

      &:not([aria-disabled="true"]) {
        cursor: pointer;

        &:active {
          border-color: var(--color-blues-100);
        }

        &:hover {
          background-color: var(--color-blues-500);
        }
      }

      &:focus-visible {
        outline-offset: -1px;
        outline: 1px dotted var(--outline-color);
        z-index: 1;
      }
    }

    .icon {
      pointer-events: none;
    }
  }
}

.toolbar {
  [name="copy-copy"] {
    grid-area: cop;
  }

  [name="copy-cut"] {
    grid-area: cut;
  }

  [name="copy-paste"] {
    grid-area: pst;
  }

  [name="draw-circle"] {
    grid-area: crc;
  }

  [name="draw-cone"] {
    grid-area: con;
  }

  [name="draw-line"] {
    grid-area: lne;
  }

  [name="draw-poly"] {
    grid-area: ply;
  }

  [name="draw-rect"] {
    grid-area: rct;
  }

  [name="mask-create"] {
    grid-area: msk;
  }

  [name="mask-hide"] {
    grid-area: mhi;
  }

  [name="mask-remove"] {
    grid-area: mrm;
  }

  [name="mask-show"] {
    grid-area: msh;
  }

  [name="mask-toggle"] {
    grid-area: mtg;
  }

  [name="scene-focus"] {
    grid-area: fcs;
  }

  [name="scene-grid"] {
    grid-area: grd;
  }

  [name="scene-ruler"] {
    grid-area: rul;
  }

  [name="scene-select"] {
    grid-area: sel;
  }

  [name="scene-window"] {
    grid-area: plw;
  }

  [name="zoom-in"] {
    grid-area: zin;
  }

  [name="zoom-out"] {
    grid-area: zot;
  }

  [name="zoom-reset"] {
    grid-area: zrt;
  }
}

/* Scene */
.scene {
  background-color: var(--color-blues-900);
  border-radius: 0 4px 4px 4px;
  border: 1px solid var(--color-blues-900);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  height: 100%;
  pointer-events: all;
  touch-action: none;
  width: 100%;

  &[data-theme="light"] {
    --scene-stroke: rgba(255, 255, 255, 1);
    --scene-text: rgba(255, 255, 255, 1);
    --scene-text-outline: rgba(0, 0, 0, 1);
  }

  &[data-theme="dark"] {
    --scene-stroke: rgba(0, 0, 0, 1);
    --scene-text: rgba(0, 0, 0, 1);
    --scene-text-outline: rgba(255, 255, 255, 1);
  }

  &:has(.scene-handler:focus-visible) {
    border-radius: 3px;
    outline: 2px solid var(--outline-color);
    outline-offset: -2px;
    position: relative;
    z-index: 1;
  }

  text,
  .scene-grid,
  .scene-image {
    pointer-events: none;
  }

  .scene-text {
    fill: var(--scene-text);
    font-size: 12px;
    paint-order: stroke;
    stroke-width: 3px;
    stroke: var(--scene-text-outline);
  }
}

/* Scene Lighting */
.scene[data-user="host"] {
  .scene-mask {
    pointer-events: none;
  }

  .scene-mask-polygon {
    cursor: pointer;
    fill: none;
    stroke-width: 2px;
    stroke: var(--scene-stroke);

    &:hover {
      stroke: var(--color-prime-500);
    }
  }

  .scene-background {
    display: none;
  }

  .scene-mask-primary {
    mask: url(#mask-primary);
  }

  .scene-mask-secondary {
    mask: url(#mask-secondary);
  }

  .scene-mask-primary,
  .scene-mask-secondary {
    display: none;
  }

  .scene-mask-fill {
    fill-opacity: 0.4;
  }

  .scene-mask-pattern {
    fill: url(#mask-pattern);
    fill-opacity: 0.3;
  }

  &[data-light="dimmed"] {
    .scene-mask-primary,
    .scene-mask-secondary {
      display: inherit;
    }

    &[data-masked="false"] .scene-mask-primary .scene-mask-pattern,
    &[data-masked="true"] .scene-mask-secondary .scene-mask-pattern {
      display: none;
    }
  }

  &[data-light="revealed"],
  &[data-light="hidden"] {
    .scene-mask-primary {
      display: inherit;
    }
  }
}

.scene:not([data-user="host"]) {
  .scene-mask {
    pointer-events: painted;
  }

  .scene-background {
    display: none;

    .scene-image {
      filter: url(#scene-image-filter);
    }
  }

  .scene-mask-primary {
    clip-path: url(#mask-primary);
  }

  .scene-mask-secondary {
    clip-path: url(#mask-primary);
  }

  .scene-mask-primary,
  .scene-mask-secondary {
    display: none;
    fill: var(--color-blues-900);
  }

  &[data-light="revealed"][data-masked="true"] {
    .scene-foreground,
    .scene-background {
      clip-path: url(#mask-primary);
    }
  }

  &[data-light="revealed"][data-masked="false"] {
    .scene-mask-primary {
      display: inherit;
    }
  }

  &[data-light="dimmed"][data-masked="true"] {
    .scene-background {
      display: inherit;
    }

    .scene-foreground {
      clip-path: url(#mask-primary);
    }

    .scene-background,
    .scene-interior {
      clip-path: url(#mask-secondary);
    }
  }

  &[data-light="dimmed"][data-masked="false"] {
    .scene-background {
      display: inherit;
    }

    .scene-foreground {
      clip-path: url(#mask-primary);
    }

    .scene-mask-primary {
      display: inherit;
      clip-path: url(#mask-secondary);
    }
  }

  &[data-light="hidden"][data-masked="true"] {
    .scene-background,
    .scene-foreground {
      clip-path: url(#mask-primary);
    }
  }

  &[data-light="hidden"][data-masked="false"] {
    .scene-foreground {
      clip-path: url(#mask-primary);
    }

    .scene-mask-primary {
      display: inherit;
      clip-path: url(#mask-secondary);
    }
  }
}

/* Scene grid */
.scene {
  .scene-grid {
    display: none;
    clip-path: url(#scene-image-clip);
  }

  &[data-user="host"][data-grid="true"] {
    .scene-exterior,
    .scene-foreground {
      .scene-grid {
        display: inherit;
      }
    }
  }

  &:not([data-user="host"])[data-grid="true"] {
    .scene-grid {
      display: inherit;
    }
  }
}

/* Scene Cursors */
.scene-cursor {
  color: var(--color-session);
  pointer-events: none;
  stroke-width: 1px;
  stroke: black;
  transition: var(--transition-drag);

  svg use {
    transform: rotate(270deg);
    transform-origin: 50% 50%;
  }
}

/* Scene Tokens */
.scene-tokens {
  &.scene-tokens-selected {
    --token-base-stroke: var(--color-session, var(--scene-stroke));
    --token-base-stroke-width: 1px;

    .scene-token-position {
      transition: none;

      &[data-drag-remote="true"] {
        transition: var(--transition-drag);
      }
    }
  }

  .scene-token-position {
    outline: none;
    transition: var(--transition-drag);

    &[data-hidden="true"] {
      display: none;
    }

    &[data-drag-local="true"] {
      transition: none;
    }

    &[data-drag-local="true"],
    &[data-drag-remote="true"] {
      --token-base-stroke: var(--color-session, var(--scene-stroke));
      --token-base-stroke-width: 2px;
    }

    &:focus-visible {
      --token-outline-width: 3px;
    }
  }

  .scene-token-transition {
    &.enter {
      opacity: 0;
      transform: translate(0, -12px);
    }

    &.enter-active {
      opacity: 1;
      transform: translate(0, 0);
      transition: transform 240ms ease-in-out, opacity 240ms ease-in-out;
    }

    &.exit {
      opacity: 1;
      transform: translate(0, 0);
    }

    &.exit-active {
      opacity: 0;
      transform: translate(0, -12px);
      transition: transform 240ms ease-in-out, opacity 240ms ease-in-out;
    }
  }

  .scene-token-ghost > rect {
    fill-opacity: 0.15;
    fill: var(--scene-stroke);
    stroke-opacity: 0.6;
    stroke-width: 1px;
    stroke: var(--scene-stroke);
    transform: translate(-0.5px, 0.5px);
  }
}

/* Scene token */
.scene-token {
  & > g {
    transition: transform 60ms ease-out;
  }

  &[data-flags*="hidden"] {
    opacity: 0.5;
  }

  &[data-flags*="player"] .scene-token-shape {
    stroke: url("#token-base-player");
    stroke-width: 4px;
  }

  &[data-flags*="dead"] .scene-token-shape {
    filter: url(#token-status-dead);
  }

  &[data-flags*="turn"] [data-flag="initiative"] circle {
    fill: var(--color-danger-500);
  }

  .scene-token-label {
    fill: var(--color-black-100);
    font-size: 13px;
    paint-order: stroke;
    pointer-events: none;
    stroke-width: 3px;
    stroke: var(--color-blues-900);
    text-anchor: middle;
    text-rendering: optimizeLegibility;

    span {
      background-color: var(--color-blues-900);
      border-radius: 1px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
      color: var(--color-black-100);
      font-size: 12px;
      line-height: 1.2;
      padding: 0 4px;
    }
  }

  .scene-token-shape {
    cursor: pointer;
    filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.9));

    & + text {
      text-anchor: middle;
    }
  }

  .scene-token-flags {
    color: white;
    pointer-events: none;

    circle {
      fill: var(--color-blues-900);
      filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.8));
    }
  }

  .scene-token-base {
    animation: ring-rotate 640ms linear infinite;
    fill: none;
    pointer-events: none;
    stroke-dasharray: 6px 2px;
    stroke-dashoffset: 0px;
    stroke-width: var(--token-base-stroke-width);
    stroke: var(--token-base-stroke);
  }

  .scene-token-ring {
    fill: none;
    pointer-events: none;
    stroke-width: var(--token-outline-width, 0);
    stroke: var(--color-prime-500);
  }

  .scene-token-aura {
    fill: none;
    pointer-events: none;
    stroke-dasharray: 1px 3px;
    stroke-opacity: 1;
    stroke-width: 1px;
    stroke: var(--scene-stroke);
    transition: r 60ms ease-out;
  }
}

/* Scene Shapes */
.scene-shapes {
  .scene-shape {
    cursor: pointer;

    &:not([data-dragged-by="local"]) {
      transition: var(--transition-drag);
    }

    &:is(:hover, [data-selected="true"], [data-dragging="true"])
      > *:is(circle, path, line, polygon) {
      animation: stroke-animation 1s linear infinite;
      stroke-dasharray: 6px 2px;
      stroke-dashoffset: 0px;
    }
  }

  .scene-shape-rect > path {
    shape-rendering: crispEdges;
  }
}

.scene-drawable {
  cursor: crosshair;

  line,
  path,
  polygon,
  circle {
    fill: transparent;
    stroke: var(--scene-stroke);
    stroke-dasharray: 6px 2px;
  }

  &.scene-drawable-grid path,
  &.scene-drawable-rect path,
  &.scene-drawable-select path {
    shape-rendering: crispEdges;
  }

  &.scene-drawable-select {
    cursor: auto;

    path {
      fill-opacity: 0.1;
      fill: var(--scene-stroke);
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      stroke-opacity: 0.25;
      stroke-width: 1px;
      stroke: var(--scene-stroke);
    }
  }
}

.scene-bounds {
  rect {
    fill: transparent;
    pointer-events: none;
    shape-rendering: crispEdges;
    stroke-dasharray: 6px;
    stroke-width: 1;
    stroke: var(--scene-stroke);
  }
}

.scene-grid-path {
  fill: none;
  stroke-dasharray: 2px;
  stroke-width: 1px;
  stroke: var(--scene-stroke);
  opacity: 0.6;
}

/* Context Menu */
.context-menu-object {
  pointer-events: none;

  .context-menu {
    box-sizing: border-box;
    display: flex;
    margin: 24px 50% 24px 50%;
    position: fixed;
    transform: translate(-50%, 0);

    button:focus-visible {
      outline: 1px solid var(--outline-color);
      outline-offset: 1px;
      z-index: 1;
    }

    input:is([type="radio"], [type="checkbox"]) {
      position: absolute;
      margin: 0;
      opacity: 0;
      width: 0;
    }

    .context-menu-toolbar {
      background-color: var(--color-blues-900);
      border-color: var(--color-blues-800);
      border-style: solid;
      display: flex;
      padding: 3px 3px;
      box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.35);

      button {
        aspect-ratio: 1;
        align-items: center;
        background: transparent;
        border-color: transparent;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        color: var(--color-black-400);
        display: flex;
        justify-content: center;

        &:hover {
          color: var(--color-black-100);
        }

        &[data-selected="true"] {
          color: var(--color-danger-500);
        }

        &:not(:disabled) {
          cursor: pointer;
        }
      }
    }

    .context-menu-main {
      pointer-events: all;

      &:has(:focus-visible) {
        border-radius: 3px;
        outline-offset: 0px;
        outline: 3px solid var(--outline-color);
        z-index: 1;
      }

      &[data-expanded="true"] {
        .context-menu-toolbar {
          border-bottom-color: var(--color-blues-900);
          border-radius: 3px 0 0 0;
        }
      }

      .context-menu-toolbar {
        border-radius: 3px 0 0 3px;
        border-width: 1px 0 1px 1px;
      }

      .context-menu-form {
        background-color: var(--color-blues-700);
        border-radius: 0 0 3px 3px;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.35);
        color: var(--color-black-100);
        font-size: 12px;
        padding: 6px;
      }
    }

    .context-menu-aside {
      .context-menu-toolbar {
        background-color: var(--color-blues-700);
        border-radius: 0 3px 3px 0;
        border-width: 1px 1px 1px 0;
        pointer-events: all;
      }
    }
  }

  .context-menu-form-label {
    form {
      align-items: stretch;
      display: flex;
      gap: 4px;
      justify-content: space-between;
      position: relative;
    }

    input[type="text"] {
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      color: var(--color-black-100);
      line-height: 1.5rem;

      &::placeholder {
        color: var(--color-black-300);
      }
    }

    button {
      align-items: center;
      background-color: var(--color-blues-900);
      border-radius: 3px;
      border: none;
      color: var(--color-black-500);
      cursor: pointer;
      display: flex;

      &:is(:hover, :focus-visible) {
        color: var(--color-black-100);
      }
    }
  }

  .context-menu-form-details {
    display: grid;
    grid-template-columns: 1fr 26px 3fr 26px;
    grid-template-rows: repeat(3, 28px);
    padding: 6px 6px 6px 8px;
    row-gap: 4px;

    :is(label, data) {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 100%;
    }

    :is(label, data, button) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    label {
      justify-content: flex-end;
      margin-right: 8px;
    }

    data {
      background-color: var(--color-blues-500);
    }

    button {
      aspect-ratio: 1;
      background-color: var(--color-blues-900);
      border-radius: 3px;
      border: none;
      color: var(--color-black-500);
      cursor: pointer;
      font-size: 18px;
      height: 100%;

      &:is(:focus-visible, :hover) {
        color: var(--color-black-100);
      }
    }
  }

  .context-menu-form-conditions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;

    label {
      align-items: center;
      aspect-ratio: 1;
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--color-black-400);
      cursor: pointer;
      display: flex;
      justify-content: center;
      position: relative;

      &:has(input:not(:checked, :indeterminate)):hover,
      &:has(:checked, :indeterminate) {
        background-color: var(--color-blues-800);
        color: var(--color-black-100);
      }

      &:has(:checked) {
        background-color: var(--color-blues-900);
      }

      &:has(:focus-visible) {
        outline: 1px dotted var(--outline-color);
        outline-offset: 1px;
      }
    }
  }

  .context-menu-form-color {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px;

    input[type="range"] {
      width: 100%;
      border-radius: 3px;

      &:focus-visible {
        outline: none;
      }
    }

    .fieldset {
      border-color: var(--color-paper-500);

      &:has(:focus-visible) {
        outline-width: 1px;
      }

      legend {
        background-color: var(--color-blues-700);
        color: var(--color-paper-500);
      }
    }

    .context-menu-form-colors {
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);

      &:has(input[type="radio"]:focus-visible) label {
        opacity: 0.4;
      }

      label {
        aspect-ratio: 1;
        border: 1px solid var(--color-black-700);
        border-radius: 3px;

        &:has(input[type="radio"]:focus-visible) {
          outline: 1px solid var(--outline-color);
          opacity: 1;
        }
      }
    }
  }

  .context-menu-form-pattern {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    label {
      background-color: var(--color-blues-900);
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--color-black-300);
      cursor: pointer;

      &:has(:focus-visible) {
        outline: 1px solid var(--outline-color);
      }

      svg {
        aspect-ratio: 1;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.scene-shape {
  .context-menu-main {
    min-width: 260px;
  }

  .context-menu-form {
    padding-top: 12px !important;
  }
}

/* Tooltips */
[data-tooltip]:not(:disabled):is(:hover, :focus-visible):after {
  background-color: var(--color-blues-900);
  border-radius: 3px;
  border: 1px solid var(--color-blues-700);
  color: white;
  content: attr(data-tooltip);
  font-size: 11px;
  inset: -20px auto auto auto;
  line-height: 1;
  padding: 2px 4px;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
}

/* Panel */
.panel {
  border-radius: 3px 0 0 3px;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 32px 1fr;
  height: 100%;

  &[data-expanded="false"] {
    width: auto;
    box-shadow: none;

    .panel-tabs {
      border-radius: 3px;
      box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);

      label {
        border-radius: 2px;
        border-width: 1px 1px 0 1px;
      }
    }
  }

  .panel-session {
    grid-area: 1 / 2 / 1 / 3;
  }

  .panel-tabs {
    background-color: var(--color-blues-900);
    border-radius: 3px 0 0 3px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    grid-area: 2 / 1 / 3 / 2;

    &:has(input:focus-visible) li:has(input:focus-visible) {
      border-radius: 3px;
      outline: 2px solid var(--outline-color);
      outline-offset: -2px;
      z-index: 1;
    }

    &:has(input:focus-visible) li:has(input) {
      outline: 1px dotted var(--outline-color);
      outline-offset: -2px;
    }

    & li,
    & label {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      color: var(--color-paper-900);
      flex: 1;

      label {
        background-color: var(--color-blues-500);
        border-color: var(--color-blues-900);
        border-radius: 2px 0 0 2px;
        border-style: solid;
        border-width: 1px 0 0 1px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;

        &:has(:checked) {
          background-color: var(--color-paper-500);
          color: var(--color-blues-900);
        }

        &:has(input:not(:checked)) {
          cursor: pointer;

          &:hover {
            background-color: var(--color-blues-100);
          }
        }

        input[type="radio"] {
          position: absolute;
          width: 0;
          opacity: 0;
          margin: 0;
        }
      }
    }

    .panel-tabs-control {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex: 8;
      justify-content: center;

      button {
        align-items: center;
        background: none;
        border: none;
        color: var(--color-blues-100);
        cursor: pointer;
        display: flex;
        flex: 1;
        height: 100%;
        justify-content: center;

        &:hover {
          color: var(--color-paper-500);
        }

        &:focus-visible {
          border-radius: 3px;
          outline-offset: -2px;
          outline: 2px solid var(--outline-color);
          z-index: 1;
        }
      }
    }
  }
}

/* Panel Form */
.form {
  --outline-color: royalBlue;
  background-color: var(--color-paper-500);
  border-color: var(--color-blues-900);
  border-radius: 0 0 3px 3px;
  border-style: solid;
  border-width: 1px 0;
  box-sizing: border-box;
  color: var(--color-blues-900);
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-area: 2 / 2 / 3 / 3;

  .form-session,
  .form-scenes,
  .form-tokens,
  .form-help {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }

  .form-container {
    flex: 1;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
  }

  .form-body {
    background-attachment: local;
    background-image: var(--pattern-fold);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0 0 4px 4px;
    flex: 1 0 auto;
    height: 0vh;
    min-height: 100%;
    overflow-y: auto;
    padding: 8px;

    header h2 {
      color: var(--color-blues-700);
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .form-footer {
    background-color: var(--color-paper-500);
    border-radius: 0 0 3px 0;
    border-top: 1px solid var(--color-black-300);
    inset: auto auto 0 auto;
    padding: 6px;
    position: sticky;
  }

  .form-notice {
    background-color: var(--color-paper-900);
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.3;
    margin-top: auto;
    padding: 10px;
    position: relative;

    svg {
      fill: var(--color-blues-100);
      inset: 0 auto auto 0;
      position: absolute;
      transform: translate(-25%, -25%);
    }
  }

  &[data-form="tokens"] .form-footer {
    display: flex;
    flex-flow: row wrap;
    gap: 4px;

    & > button:first-child {
      flex: 1;
    }
  }

  &[data-form="lobby"] .form-footer {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr max-content max-content;
  }

  &[data-form="initiative"] .form-body {
    padding: 0;
  }

  &[data-form="initiative"] .form-footer {
    display: flex;
    gap: 4px;

    button {
      flex: 1;
    }
  }
}

/* Pagination */
.pagination {
  align-items: center;
  display: flex;
  gap: 5px;

  label,
  button {
    align-items: center;
    aspect-ratio: 1;
    border-color: var(--color-black-300);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    width: 32px;
  }

  label:has(:focus-visible),
  button:focus-visible {
    outline: 1px dashed Highlight;
    outline: 1px dashed -webkit-focus-ring-color;
    outline-offset: 1px;
  }

  label:has(input:not(:checked)),
  button:not([aria-disabled="true"]) {
    border-color: var(--color-blues-500);
    cursor: pointer;
  }

  label:has(input:checked) {
    background-color: var(--color-blues-500);
    border-color: transparent;
    color: var(--color-paper-500);
  }

  input[type="radio"] {
    z-index: -1;
    position: absolute;
  }
}

/* Scene Management */
.scene-gallery {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &:has(input:focus-visible) .scene-gallery-thumbnail {
    filter: opacity(0.4);
  }

  &:has(input:focus-visible) .scene-gallery-thumbnail:has(:checked) {
    outline: 2px dotted var(--outline-color);
    outline-offset: 1px;
    filter: none;
  }

  .scene-gallery-thumbnail {
    align-items: stretch;
    aspect-ratio: 1;
    border-radius: 3px;
    border: 1px solid var(--color-blues-900);
    display: flex;
    position: relative;

    &:has(:checked) {
      outline: 3px solid var(--color-prime-500);
    }

    &[data-type="image"] {
      background-color: var(--color-blues-700);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;

      &[data-selected="false"] {
        cursor: pointer;
      }
    }

    &[data-type="placeholder"] {
      border-color: var(--color-blues-300);
      border-style: dashed;
    }

    label {
      flex: 1;
      &:has(input:not(:checked)) {
        cursor: pointer;
      }
    }

    input {
      position: absolute;
      margin: 0;
      opacity: 0;
      width: 0;
    }

    .button {
      border: none;
      margin: 4px;
      min-height: 0px;
      padding: 4px;
      position: absolute;

      &:not([name="warn"]) {
        visibility: hidden;
      }

      &[name="info"] {
        inset: 0 auto auto 0;
      }

      &[name="remove"] {
        inset: 0 0 auto auto;
      }

      &[name="warn"] {
        inset: auto auto 0 0;
      }

      &[data-tooltip]::after {
        inset: 0 auto auto auto;
        transform: translateY(-50%);
      }
    }

    &:hover .button {
      visibility: visible;
    }
  }
}

.scene-gallery-form {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 4px;

  nav {
    flex: 1;

    .pagination {
      margin: 0;
      justify-content: center;

      li {
        height: 32px;
        box-shadow: none;
      }
    }
  }

  .button {
    flex: 1;
  }
}

/* Scene Gallery Modal */
.scene-gallery-modal {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  display: flex;
  inset: 0 auto 0 0;
  justify-content: center;
  padding: 5vw;
  position: absolute;
  width: 100%;
  z-index: 1;

  .scene-gallery-modal-container {
    background-color: var(--color-blues-900);
    border-radius: 3px;
    border: 1px solid var(--color-blues-700);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    flex: 1;
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;

    .scene-gallery-modal-preview {
      flex: 1;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      align-items: flex-end;

      dl {
        background-color: var(--color-blues-900);
        border-radius: 3px;
        border: 1px solid var(--color-blues-500);
        color: var(--color-black-100);
        column-gap: 8px;
        display: grid;
        font-size: 12px;
        grid-template-columns: max-content auto;
        margin: 12px;
        max-width: 480px;
        padding: 4px 8px;
      }

      dt {
        display: flex;
        gap: 4px;
        grid-column-start: 1;

        .icon {
          margin-top: 3px;
        }
      }

      dd {
        grid-column-start: 2;
      }
    }

    .scene-gallery-modal-footer {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: flex-end;
      background-color: var(--color-blues-700);
      padding: 16px;
    }
  }
}

/* Tokens Management */
.token-gallery {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr) min-content;
  justify-content: space-between;

  &:has(.token-gallery-item:focus-visible)
    .token-gallery-item:not(:focus-visible) {
    filter: opacity(0.3);
  }

  &[data-type="host"] {
    &[data-scope="public"] {
      grid-template-rows: repeat(2, 1fr) min-content;
      nav {
        grid-row: 3 / 3;
      }
    }

    &[data-scope="private"] {
      grid-template-rows: repeat(4, 1fr) min-content;
      nav {
        grid-row: 5 / 5;
      }
    }
  }

  &[data-type="conn"] {
    &[data-scope="public"] {
      grid-template-rows: repeat(5, 1fr) min-content;
      nav {
        grid-row: 7 / 7;
      }
    }
  }

  nav {
    grid-column: 1 / 6;
    justify-self: center;
    margin-top: 6px;
  }

  .prompt {
    grid-column: 1 / 6;
  }
}

.token-gallery-item {
  align-items: center;
  aspect-ratio: 1;
  border-color: var(--color-blues-900);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  padding: 0;

  &:focus-visible {
    box-shadow: none !important;
    outline: 2px dotted var(--outline-color);
    outline-offset: 1px;
  }

  &:is([data-type="default"], [data-type="image"]) {
    cursor: grab;
  }

  &[data-type="default"] {
    background-color: var(--color-blues-700);
    border-width: 0;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.7);

    svg {
      color: white;
      height: 75%;
      width: 75%;
    }
  }

  &[data-type="image"] {
    background-color: var(--color-blues-900);
    background-size: contain;
    border-width: 0;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 80ms ease-in-out;
  }

  &[data-type="placeholder"] {
    border-style: dashed;
  }

  &[data-type="trash"] {
    border-style: dashed;
    svg {
      color: var(--color-blues-900);
    }
  }

  &[data-type="default"],
  &[data-type="image"] {
    touch-action: none;
  }
}

/* Initiative */
.initiative {
  header {
    height: 30px;
    margin: 8px 8px 0 8px;
    text-align: center;

    h3 {
      font-size: 14px;
      line-height: 0.5;
    }
  }
}

.initiative-prompt {
  border-top: 1px dotted var(--color-black-500);
  font-size: 15px;
  padding: 8px;
  z-index: 1;
}

.initiative-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &.initiative-list-placeholder {
    inset: auto 0;
    position: absolute;

    &::after {
      background-image: linear-gradient(
        180deg,
        rgba(243, 243, 236, 0) 0%,
        rgba(243, 243, 236, 1) 100%
      );

      content: "";
      inset: 0;
      position: absolute;
    }
  }
}

.initiative-token {
  border-style: dotted;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 24px 24px 48px 1fr 48px;
  padding: 8px;
  position: relative;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  & + & {
    padding-top: 8px;
  }

  &[data-playing="true"] {
    background-color: var(--color-paper-900);
    border-width: 1px 0;
  }

  &[data-playing="true"] + & {
    border-width: 0;
  }

  &[data-played="true"] {
    .initiative-token-turn {
      background-color: var(--color-blues-100);
      color: var(--color-black-100);
    }
  }

  &[data-hidden="true"] {
    .initiative-token-flags,
    .initiative-token-label,
    .initiative-token-suffix {
      display: none;
    }

    .initiative-token-frame {
      pointer-events: none;
    }
  }

  &[data-type="token"] {
    .initiative-token-frame {
      cursor: pointer;
    }

    .initiative-token-pattern {
      background-color: var(--color-blues-700);
    }

    .initiative-token-roll {
      .initiative-token-roll-control {
        background-color: var(--color-paper-500);
        border: 1px dotted var(--color-blues-500);
        color: var(--color-blues-500);
        cursor: pointer;
        &:focus-visible {
          outline-offset: 2px;
        }
      }
    }

    .initiative-token-health {
      position: relative;

      &:is(:hover, [data-present="true"]) {
        .initiative-token-health-frame {
          color: var(--color-blues-100);
        }

        .initiative-token-health-label {
          color: var(--color-paper-500);
        }
      }
    }

    .initiative-token-health-frame {
      color: var(--color-black-300);
    }

    .initiative-token-health-label {
      cursor: pointer;
    }
  }

  &[data-type="placeholder"] {
    border-color: var(--color-black-700);
    border-style: dotted;
    pointer-events: none;

    &:first-child {
      border-top-width: 0;
    }

    .initiative-token-frame {
      border: 1px dotted var(--color-black-700);
    }

    .initiative-token-roll {
      .initiative-token-roll-control {
        border: 1px dotted var(--color-black-700);
        box-sizing: border-box;
      }
    }

    .initiative-token-health-frame svg {
      stroke: var(--color-black-700);
      stroke-dasharray: 1px 1px;
    }
  }

  .initiative-token-turn {
    align-items: center;
    background-color: var(--color-paper-500);
    border-color: var(--color-blues-500);
    border-radius: 2px;
    border-style: dotted;
    border-width: 1px;
    color: var(--color-blues-500);
    display: flex;
    justify-content: center;
    padding: 0;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:disabled {
      border-color: var(--color-black-300);
      color: var(--color-black-400);
    }
  }

  .initiative-token-frame {
    aspect-ratio: 1;
    border-radius: 2px;
    grid-area: 1 / 3 / 1 / 3;

    &[data-hidden="true"] {
      align-items: center;
      border: 1px dotted var(--color-blues-700);
      color: var(--color-blues-900);
      display: flex;
      font-size: 28px;
      justify-content: center;
    }

    &[data-player="true"] {
      background: linear-gradient(
        125deg,
        rgba(252, 211, 77, 1) 0%,
        rgba(180, 83, 9, 1) 100%
      );
      padding: 3px;
    }
  }

  .initiative-token-image,
  .initiative-token-pattern {
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 2px;
  }

  .initiative-token-pattern {
    align-items: center;
    color: var(--color-black-100);
    display: flex;
    justify-content: center;
  }

  .initiative-token-roll,
  .initiative-token-roll-control,
  .initiative-token-suffix {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .initiative-token-roll {
    &[data-present="true"] {
      .initiative-token-roll-control {
        background-color: var(--color-blues-100);
        color: var(--color-black-100);
      }
    }

    .initiative-token-roll-control {
      border-radius: 2px;
      border: none;
      color: var(--color-black-100);
      flex: 1;
      height: 100%;
      overflow: hidden;
    }
  }

  .initiative-token-suffix {
    background-color: white;
    border-radius: 2px;
    border: 1px solid var(--color-blues-900);
    color: black;
    font-size: 10px;
    grid-area: 1 / 3 / 1 / 3;
    height: 12px;
    inset: auto -1px -1px auto;
    line-height: 1;
    position: absolute;
    width: 12px;
  }

  .initiative-token-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .initiative-token-label {
    color: var(--color-blues-700);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }

  .initiative-token-flags {
    font-size: 12px;
    line-height: 1.3;
    display: flex;
    align-items: flex-end;
    white-space: pre-wrap;
  }

  .initiative-token-health {
    position: relative;
  }

  .initiative-token-health-frame {
    color: transparent;
    position: absolute;
  }

  .initiative-token-health-label {
    background: none;
    border: none;
    color: var(--color-black-500);
    flex: 1;
    font-size: 1.1rem;
    position: relative;
    inset: -4px auto auto auto;
    z-index: 1;
  }

  .initiative-token-health,
  .initiative-token-health-frame,
  .initiative-token-health-label {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .initiative-token-form {
    background-color: var(--color-paper-500);
    border-radius: 2px;
    border: 1px solid var(--color-blues-100);
    display: flex;
    min-height: 30px;
    padding: 3px;
    pointer-events: all;
    position: absolute;
    z-index: 1;

    &:has(input:focus-visible) {
      outline: 3px solid var(--outline-color);
      outline-offset: 1px;
    }

    &[data-type="roll"] {
      inset: 20% auto auto 64px;
      width: 120px;
    }

    &[data-type="health"] {
      inset: 11% 52px auto auto;
      width: 160px;
    }

    input {
      flex: 1;
    }

    button {
      align-items: center;
      background: none;
      border: none;
      color: var(--color-black-400);
      cursor: pointer;
      display: flex;
      font-size: 22px;
      justify-content: center;

      &:hover {
        color: var(--color-blues-100);
      }
    }
  }
}

/* Session Form */
.session {
  font-size: 13px;

  .session-room {
    align-items: stretch;
    display: flex;
    gap: 8px;

    a:is(:link, :visited) {
      color: var(--color-danger-500);
    }

    .session-code {
      font-size: 2rem;
      letter-spacing: 1px;
      line-height: 1;
      padding: 0;
      text-align: center;
      user-select: text;
      width: 70%;
    }

    .session-url {
      background-color: var(--color-paper-500);
      border-color: var(--color-paper-900) !important;
      border-radius: 2px;
      font-family: monospace;
      font-size: 12px;
    }
  }

  .session-players {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .session-player {
      display: flex;
      gap: 6px;

      .session-player-color {
        aspect-ratio: 1;
        background-color: var(--color-session);
        border-radius: 20%;
        box-sizing: border-box;
        margin-left: 2px;
        width: 22px;
      }
    }
  }
}

/* Shortcuts Table */
.shortcuts {
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;

  .shortcut {
    display: flex;
    font-family: monospace;
    gap: 2px;

    code {
      text-transform: capitalize;
    }
  }

  td {
    box-sizing: border-box;
    border: 1px solid var(--color-blues-700);
    padding: 2px 4px;
  }
}

/* Grid Alignment Tool */
.grid-align {
  path,
  circle {
    stroke-dasharray: 1px;
    pointer-events: none;
  }

  .grid-align-form {
    position: relative;
    pointer-events: none;

    button {
      align-items: center;
      background-color: var(--color-blues-900);
      border-radius: 3px;
      border: 1px solid var(--color-blues-500);
      border: none;
      color: var(--color-paper-500);
      cursor: pointer;
      display: flex;
      font-size: 12px;
      gap: 4px;
      justify-content: center;
      pointer-events: all;
      text-transform: uppercase;
    }
  }

  .grid-align-origin {
    aspect-ratio: 1;
    box-sizing: border-box;
    inset: 50% auto auto 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 128px;

    button {
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.35);
      position: absolute;
      aspect-ratio: 1;

      &[data-name="up"] {
        inset: 0 auto auto 50%;
        transform: translate(-50%, 0);
      }

      &[data-name="right"] {
        inset: 50% 0 auto auto;
        transform: translate(0, -50%);
      }

      &[data-name="down"] {
        inset: auto 50% 0 auto;
        transform: translate(-50%, 0);
      }

      &[data-name="left"] {
        inset: 50% auto auto 0;
        transform: translate(0, -50%);
      }

      &[data-name="clear"] {
        inset: 18% auto auto 18%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .grid-align-size {
    align-items: stretch;
    background-color: var(--color-blues-900);
    border-radius: 2px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.35);
    cursor: default;
    display: flex;
    gap: 4px;
    inset: auto 0 0 auto;
    margin: 4px;
    padding: 4px;
    pointer-events: all;
    position: absolute;

    button {
      background-color: var(--color-blues-500);
    }

    input {
      border-radius: 2px;
      pointer-events: all;
    }
  }
}

/* Global */
[data-user="view"] .scene-shape:hover > circle,
[data-user="view"] .scene-shape:hover > path,
[data-user="view"] .scene-shape:hover > line,
[data-user="view"] .scene-shape:hover > polygon,
[data-user="view"] .scene-shape[data-selected="true"] > circle,
[data-user="view"] .scene-shape[data-selected="true"] > path,
[data-user="view"] .scene-shape[data-selected="true"] > line,
[data-user="view"] .scene-shape[data-selected="true"] > polygon {
  stroke-dasharray: none;
  animation: none;
}

[data-user="view"] {
  grid-template-areas: "b";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "canvas";
}

[data-user="view"] .scene {
  pointer-events: none;
}

/* Larger than a phone */
/* @media (min-width: 600px) {} */

/* Tablets and larger */
/* @media (min-width: 900px) {} */

/* Laptops and larger */
/* @media (min-width: 1200px) {} */

/* Desktop monitors and larger */
/* @media (min-width: 1800px) {} */

/* Responsive :: Layout / Panel */
@media /* Portrait */ (max-aspect-ratio: 1 / 1) {
  .layout {
    &[data-user="host"] {
      grid-template-areas: "scenes" "canvas" "side";
      grid-template-columns: 1fr;
      grid-template-rows: 32px 1fr 1fr;

      &[data-expanded="false"] {
        grid-template-rows: 32px 1fr 40px;
      }

      .scenes-scene {
        max-width: 100%;
      }

      .scene {
        border-radius: 0 0 3px 3px;
      }
    }

    &[data-user="conn"] {
      grid-template-areas: "canvas" "side";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      &[data-expanded="false"] {
        grid-template-rows: 1fr auto;
      }

      .scene {
        border-radius: 3px;
      }
    }

    .layout-scene .scene,
    .layout-panel .panel,
    .layout-panel .panel[data-expanded="false"] .panel-tabs {
      box-shadow: none;
    }

    .layout-panel {
      padding-top: 4px;
      display: flex;
      flex-direction: column;

      .panel {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        &[data-expanded="false"] .panel-tabs li label {
          border-width: 1px 0 1px 1px;
        }

        .panel-session {
          display: none;
        }

        .panel-tabs {
          border-radius: 3px 3px 0 0;
          flex-direction: row;
          min-height: 36px;

          li {
            flex: 1;
            label {
              border-radius: 3px 3px 0 0;
              border-width: 1px 0 0 1px;
              padding: 2px;
            }
          }

          .panel-tabs-control {
            flex: 3;
            svg use {
              transform-origin: 50% 50%;
              transform: rotate(90deg);
            }
          }
        }
      }

      .form {
        border-width: 0 1px;
        border-radius: 0 0 3px 3px;
        .form-footer {
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }
}

@media /* Landscape */ (min-aspect-ratio: 1 / 1) or (aspect-ratio: 1 / 1) {
  .layout {
    &[data-user="conn"] {
      grid-template-areas: "canvas side";
      grid-template-rows: 1fr;

      &[data-expanded="false"] .panel-tabs {
        grid-area: 1 / 1 / 3 / 2;
      }
    }
  }
}

/* Responsive :: Scenes */
@media only screen and (max-width: 600px) {
  .scenes ul li {
    max-width: none;
  }
}

/* Responsive :: Toolbar */
@media only screen and (max-width: 1199px) {
  .toolbar-tooltip {
    display: none;
  }

  .toolbar-actions {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "sel rul crc rct con lne";

    &
      > button:not(
        [name="scene-select"],
        [name="scene-ruler"],
        [name="draw-circle"],
        [name="draw-rect"],
        [name="draw-cone"],
        [name="draw-line"]
      ) {
      display: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .toolbar {
    &[data-user="host"] .toolbar-actions {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "sel cut cop pst rul crc rct con ply lne grd fcs"
        "zot zrt zrt zrt zin msk mtg mrm msh mhi plw .";
    }

    &[data-user="conn"] .toolbar-actions {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "sel cut cop pst rul crc rct"
        "zot zrt zrt zin con ply lne";

      &
        > button:not(
          [name="scene-select"],
          [name="copy-cut"],
          [name="copy-copy"],
          [name="copy-paste"],
          [name="scene-ruler"],
          [name="draw-circle"],
          [name="draw-rect"],
          [name="draw-line"],
          [name="zoom-out"],
          [name="zoom-reset"],
          [name="zoom-in"],
          [name="draw-cone"],
          [name="draw-poly"]
        ) {
        display: none;
      }
    }
  }
}
