:root {
    --color-primary-a: #79bd8f;
    --color-primary-b: hsl(46, 44%, 74%);
    --color-primary-c: hsl(174, 8%, 24%);
    --color-primary-d: hsl(150, 2%, 17%);
    --color-primary-e: hsl(240, 3%, 12%);

    --theme-background-a: hsl(240, 3%, 12%);
    --theme-background-b: hsl(150, 2%, 17%);
    --theme-background-c: hsl(174, 8%, 24%);
    --theme-background-d: hsl(200, 20%, 12%);

    --theme-text: hsl(0, 0%, 92%);
    --theme-text-link: hsl(6, 73%, 60%);
}

html, body, #root, .table {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

em {
    font-style: italic;
}

input[type="text"] {
    border-radius: 2px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 4px 8px;
    width: 100%;
}
